ground-station/flows/.main.json.backup
[
    {
        "id": "3b521b08f4388c2f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7180565ad450ba58",
        "type": "serial-port",
        "name": "usbmodem2101",
        "serialport": "/dev/tty.usbmodem2101",
        "serialbaud": "115200",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "d0f6c0df3d6bbbec",
        "type": "ui-base",
        "name": "MySat Ground Station",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "5b53033ae39ab468",
        "type": "ui-theme",
        "name": "Mission Control Dark",
        "colors": {
            "surface": "#161b22",
            "primary": "#4ea1ff",
            "bgPage": "#0f141a",
            "groupBg": "#161b22",
            "groupOutline": "#2b3542"
        },
        "sizes": {
            "density": "comfortable",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "10px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "8037b6b5da1c3e49",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-serialport": "2.0.3",
            "@flowfuse/node-red-dashboard": "1.30.2"
        }
    },
    {
        "id": "f97e68d451736993",
        "type": "ui-page",
        "name": "Mission Control",
        "ui": "d0f6c0df3d6bbbec",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "5b53033ae39ab468",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "0c10ce94c624bca1",
        "type": "ui-group",
        "name": "General",
        "page": "f97e68d451736993",
        "width": "4",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "50860bfd06fffa7a",
        "type": "ui-group",
        "name": "Battery",
        "page": "f97e68d451736993",
        "width": "6",
        "height": 1,
        "order": 6,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "87c6d1cd17eff6d5",
        "type": "ui-group",
        "name": "Telemetry",
        "page": "f97e68d451736993",
        "width": "8",
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "33c8b33051afe822",
        "type": "ui-group",
        "name": "LED System",
        "page": "f97e68d451736993",
        "width": "6",
        "height": "1",
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "1f22eb0bf52ef7c6",
        "type": "ui-group",
        "name": "RTC",
        "page": "f97e68d451736993",
        "width": "6",
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "a02eb05c11bee1d4",
        "type": "ui-group",
        "name": "GPS",
        "page": "f97e68d451736993",
        "width": 6,
        "height": 1,
        "order": 5,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "5124fb12bde93c6f",
        "type": "serial in",
        "z": "3b521b08f4388c2f",
        "name": "",
        "serial": "7180565ad450ba58",
        "x": 100,
        "y": 40,
        "wires": [
            [
                "e80ca2965e7ce828",
                "4aa096b064148427"
            ]
        ]
    },
    {
        "id": "a407349444f312cf",
        "type": "serial out",
        "z": "3b521b08f4388c2f",
        "name": "",
        "serial": "7180565ad450ba58",
        "x": 780,
        "y": 860,
        "wires": []
    },
    {
        "id": "e80ca2965e7ce828",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "Main Parser",
        "func": "let line = String(msg.payload).trim();\nif (!line) return null;\n\nlet parts = line.split(\",\");\n\nif (parts.length < 2) return null;\n\nmsg.raw = line;\nmsg.time = parts[0];      // keep as text\nmsg.type = parts[1];\n\nif (msg.type === \"TLM\" && parts.length >= 5) {\n    msg.target = parts[2];\n    msg.parameter = parts[3];\n    msg.value = parts[4];\n}\nelse if (msg.type === \"ACK\" && parts.length >= 4) {\n    msg.target = parts[2];\n    msg.value = parts[3];\n}\nelse if (msg.type === \"ERR\" && parts.length >= 3) {\n    msg.error = parts[2];\n\n    if (parts.length >= 4) {\n        msg.errorContext = parts[3];\n        try {\n            msg.errorContextDecoded = decodeURIComponent(parts[3]);\n        } catch (err) {\n            msg.errorContextDecoded = parts[3];\n        }\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 40,
        "wires": [
            [
                "50ef76a53201094c",
                "a1ea5ba4421bd12a",
                "ef27dc9f7bf52f97",
                "1548f4b860c06079"
            ]
        ]
    },
    {
        "id": "50ef76a53201094c",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "TLM Storage",
        "func": "let state = flow.get(\"satState\") || {};\n\nif (!state.tlm) {\n    state.tlm = {};\n}\nif (!state.lastAck) {\n    state.lastAck = null;\n}\nif (!state.lastErr) {\n    state.lastErr = null;\n}\nif (!state.time) {\n    state.time = null;\n}\n\nif (msg.time) {\n    state.time = msg.time;\n}\n\nif (msg.type === \"TLM\") {\n    if (!msg.target || !msg.parameter) {\n        return null;\n    }\n\n    if (!state.tlm[msg.target]) {\n        state.tlm[msg.target] = {};\n    }\n\n    state.tlm[msg.target][msg.parameter] = {\n        value: msg.value,\n        time: msg.time\n    };\n}\nelse if (msg.type === \"ACK\") {\n    state.lastAck = {\n        target: msg.target || null,\n        value: msg.value || null,\n        time: msg.time || null\n    };\n}\nelse if (msg.type === \"ERR\") {\n    state.lastErr = {\n        error: msg.error || null,\n        context: msg.errorContext || null,\n        contextDecoded: msg.errorContextDecoded || null,\n        time: msg.time || null\n    };\n}\n\nflow.set(\"satState\", state);\n\nmsg.state = state;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 160,
        "wires": [
            [
                "af2be4cc68f6c30d"
            ]
        ]
    },
    {
        "id": "af2be4cc68f6c30d",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "Flatten State",
        "func": "let s = msg.state || {};\nlet tlm = s.tlm || {};\n\nfunction getValue(target, parameter, fallback = \"\") {\n    if (tlm[target] && tlm[target][parameter]) {\n        return tlm[target][parameter].value;\n    }\n    return fallback;\n}\n\nfunction getTime(target, parameter, fallback = \"\") {\n    if (tlm[target] && tlm[target][parameter]) {\n        return tlm[target][parameter].time;\n    }\n    return fallback;\n}\n\nmsg.payload = {\n    time: s.time || \"\",\n    rtcCurrentTime: getValue(\"RTC\", \"CURRENT_TIME\"),\n    rtcSync: getValue(\"RTC\", \"SYNC\"),\n    rtcTelemetry: getValue(\"RTC\", \"TELEMETRY\"),\n    ledEnable: getValue(\"LED\", \"ENABLE\"),\n    ledState: getValue(\"LED\", \"STATE\"),\n    ledColor: getValue(\"LED\", \"COLOR\"),\n    ledTelemetry: getValue(\"LED\", \"TELEMETRY\"),\n    telemetryEnable: getValue(\"TELEMETRY\", \"TELEMETRY\"),\n    telemetryInterval: getValue(\"TELEMETRY\", \"INTERVAL_S\"),\n    batteryTelemetry: getValue(\"BATTERY\", \"TELEMETRY\"),\n    batteryAvailable: getValue(\"BATTERY\", \"AVAILABLE\"),\n    chargeCurrentA: getValue(\"BATTERY\", \"CHARGE_CURRENT_A\"),\n    chargeVoltageV: getValue(\"BATTERY\", \"CHARGE_VOLTAGE_V\"),\n    chargePercentP: getValue(\"BATTERY\", \"CHARGE_PERCENT_P\"),\n    batteryVoltage: getValue(\"BATTERY\", \"VOLTAGE_V\"),\n    lastAck: s.lastAck,\n    lastErr: s.lastErr,\n    statusHeartbeatValue: getValue(\"STATUS\", \"HEARTBEAT_N\"),\n    statusHeartbeatTime: getTime(\"STATUS\", \"HEARTBEAT_N\"),\n    gpsEnable: getValue(\"GPS\", \"ENABLE\"),\n    gpsAvailable: getValue(\"GPS\", \"AVAILABLE\"),\n    gpsLatitude: getValue(\"GPS\", \"LATITUDE_D\"),\n    gpsLongitude: getValue(\"GPS\", \"LONGITUDE_D\"),\n    gpsAltitude: getValue(\"GPS\", \"ALTITUDE_M\"),\n    gpsSpeed: getValue(\"GPS\", \"SPEED_KPH\"),\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 520,
        "wires": [
            [
                "353ea91c8195f24d",
                "e801888fd08475bd",
                "b8a99bc218fbe40e",
                "0b2ea32d4b67bf0d",
                "40b71589d101899b",
                "ce81e4884bf62a13",
                "cbf9be1a32b5b38a",
                "7b54df25ad4ef61f",
                "c720218d514f0575",
                "0533515e80ab7a66",
                "909594e5ba8c37c2",
                "fe6c806c0622a520",
                "d506d2be422b81e6",
                "93d87df78233859c",
                "fb2a49fa8d6ad39d",
                "51f5a5dcfe3e5cd8",
                "89175a9d63aee81c",
                "baab0a7f141ded66",
                "560cda290dd1172b",
                "d1b702a46a0467e7",
                "466689066fb07c4c",
                "376077d2878f2dba",
                "9c0a224cc277b77e"
            ]
        ]
    },
    {
        "id": "353ea91c8195f24d",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract Last TLM",
        "func": "msg.payload = msg.payload.time || \"\"; return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 500,
        "wires": [
            [
                "aa35e6502e80f6ca"
            ]
        ]
    },
    {
        "id": "aa35e6502e80f6ca",
        "type": "ui-text",
        "z": "3b521b08f4388c2f",
        "group": "87c6d1cd17eff6d5",
        "order": 8,
        "width": "2",
        "height": 1,
        "name": "",
        "label": "Last TLM",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1280,
        "y": 500,
        "wires": []
    },
    {
        "id": "e801888fd08475bd",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract Telemetry Enable",
        "func": "msg.payload = msg.payload.telemetryEnable || \"\"; return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 420,
        "wires": [
            [
                "0909b96a0a73a827"
            ]
        ]
    },
    {
        "id": "b8a99bc218fbe40e",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract Telemetry Interval (s)",
        "func": "msg.payload = msg.payload.telemetryInterval || \"\"; return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 460,
        "wires": [
            [
                "e5510a7192e55937"
            ]
        ]
    },
    {
        "id": "0b2ea32d4b67bf0d",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract Last ACK",
        "func": "if (!msg.payload.lastAck) {\n    msg.payload = \"\";\n    return msg;\n}\nmsg.payload = [msg.payload.lastAck.time, msg.payload.lastAck.target, msg.payload.lastAck.value]\n    .filter(v => v !== null && v !== undefined && v !== \"\")\n    .join(\" | \");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 320,
        "wires": [
            [
                "6d5439a9dd0319e8"
            ]
        ]
    },
    {
        "id": "6d5439a9dd0319e8",
        "type": "ui-text",
        "z": "3b521b08f4388c2f",
        "group": "0c10ce94c624bca1",
        "order": 3,
        "width": "4",
        "height": 1,
        "name": "",
        "label": "Last ACK",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1280,
        "y": 320,
        "wires": []
    },
    {
        "id": "40b71589d101899b",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract Last ERR",
        "func": "if (!msg.payload.lastErr) {\n    msg.payload = \"\";\n    return msg;\n}\nmsg.payload = [\n    msg.payload.lastErr.time,\n    msg.payload.lastErr.error,\n    msg.payload.lastErr.contextDecoded\n]\n    .filter(v => v !== null && v !== undefined && v !== \"\")\n    .join(\" | \");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 360,
        "wires": [
            [
                "4a17bc77ddbdb063"
            ]
        ]
    },
    {
        "id": "4a17bc77ddbdb063",
        "type": "ui-text",
        "z": "3b521b08f4388c2f",
        "group": "0c10ce94c624bca1",
        "order": 4,
        "width": "4",
        "height": 1,
        "name": "",
        "label": "Last ERR",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1280,
        "y": 360,
        "wires": []
    },
    {
        "id": "9331f758d9c225ed",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send Ping",
        "func": "msg.payload = \"PING,NONE,NONE,NONE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 220,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "705d00e7e4f34d52",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send Get LED",
        "func": "msg.payload = \"GET,LED,NONE,NONE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 440,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "e4b26bb90d0f220e",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send Get Battery",
        "func": "msg.payload = \"GET,BATTERY,NONE,NONE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1360,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "40a56bcaa8abc94f",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send LED Enable",
        "func": "msg.payload = \"SET,LED,ENABLE,TRUE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 480,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "9c4c9523287dbc60",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send LED Disable",
        "func": "msg.payload = \"SET,LED,ENABLE,FALSE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 520,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "097e0d32dd4bc1f9",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send LED ON",
        "func": "msg.payload = \"SET,LED,STATE,ON\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 560,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "49f5d0774b720662",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send LED OFF",
        "func": "msg.payload = \"SET,LED,STATE,OFF\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 600,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "b5d62154f09edf79",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send TLM Enable",
        "func": "msg.payload = \"SET,TELEMETRY,ENABLE,TRUE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 900,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "59a0bb862787b1a6",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send TLM Disable",
        "func": "msg.payload = \"SET,TELEMETRY,ENABLE,FALSE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 940,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "e328bd37e42d09ce",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send TLM Interval",
        "func": "let interval = flow.get(\"tlmInterval\");\n\nif (!Number.isFinite(interval) || interval < 1) {\n    return null;\n}\n\nmsg.payload = \"SET,TELEMETRY,INTERVAL_S,\" + interval + \"\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1080,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "76ba83bf503fa602",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "0c10ce94c624bca1",
        "name": "",
        "label": "Ping",
        "order": 5,
        "width": "4",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "9331f758d9c225ed"
            ]
        ]
    },
    {
        "id": "ce81e4884bf62a13",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract Charge Percent gauge",
        "func": "msg.payload = Number(msg.payload.chargePercentP || 0);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 1100,
        "wires": [
            [
                "59e5d09d9ab69709"
            ]
        ]
    },
    {
        "id": "59e5d09d9ab69709",
        "type": "ui-gauge",
        "z": "3b521b08f4388c2f",
        "name": "Charge Percent Gauge",
        "group": "50860bfd06fffa7a",
        "order": 5,
        "value": "payload",
        "valueType": "msg",
        "width": 6,
        "height": 4,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Charge Percent",
        "alwaysShowTitle": false,
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#d32f2f",
                "text": "",
                "textType": "value"
            },
            {
                "from": "20",
                "color": "#fbc02d",
                "text": "",
                "textType": "value"
            },
            {
                "from": "50",
                "color": "#388e3c",
                "text": "",
                "textType": "value"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": "20",
        "sizeGap": "",
        "sizeKeyThickness": "",
        "className": "",
        "x": 1340,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "09db1906c0e09412",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send LED RED",
        "func": "msg.payload = \"SET,LED,COLOR,RED\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 640,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "3344e17230a6d9f7",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send LED GREEN",
        "func": "msg.payload = \"SET,LED,COLOR,GREEN\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 680,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "e595103df12ca554",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send LED OFF",
        "func": "msg.payload = \"SET,LED,COLOR,BLUE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 720,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "74bbce1b31f77c86",
        "type": "ui-table",
        "z": "3b521b08f4388c2f",
        "d": true,
        "group": "33c8b33051afe822",
        "name": "LED Table",
        "label": "",
        "order": 15,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": true,
        "showSearch": false,
        "deselect": true,
        "selectionType": "none",
        "columns": [],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "className": "",
        "x": 1280,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "cbf9be1a32b5b38a",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "d": true,
        "name": "LED States",
        "func": "msg.payload = [\n    {\n        enable: msg.payload.ledEnable || \"\",\n        state: msg.payload.ledState || \"\",\n        color: msg.payload.ledColor || \"\",\n        telemetry: msg.payload.ledTelemetry || \"\"\n    }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 800,
        "wires": [
            [
                "74bbce1b31f77c86"
            ]
        ]
    },
    {
        "id": "ec18fbfcdaab42ea",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "33c8b33051afe822",
        "name": "",
        "label": "Get LED",
        "order": 1,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 160,
        "y": 440,
        "wires": [
            [
                "705d00e7e4f34d52"
            ]
        ]
    },
    {
        "id": "1f22e87c02b58372",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "33c8b33051afe822",
        "name": "",
        "label": "LED Enable",
        "order": 2,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "40a56bcaa8abc94f"
            ]
        ]
    },
    {
        "id": "6d9e42b83f4d38cb",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "33c8b33051afe822",
        "name": "",
        "label": "LED Disable",
        "order": 3,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 150,
        "y": 520,
        "wires": [
            [
                "9c4c9523287dbc60"
            ]
        ]
    },
    {
        "id": "f523164eac227171",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "33c8b33051afe822",
        "name": "",
        "label": "LED On",
        "order": 4,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 160,
        "y": 560,
        "wires": [
            [
                "097e0d32dd4bc1f9"
            ]
        ]
    },
    {
        "id": "0d886fe807b1ca8e",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "33c8b33051afe822",
        "name": "",
        "label": "LED Off",
        "order": 5,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 160,
        "y": 600,
        "wires": [
            [
                "49f5d0774b720662"
            ]
        ]
    },
    {
        "id": "83580219a5452c9f",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "33c8b33051afe822",
        "name": "",
        "label": "LED Red",
        "order": 6,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 160,
        "y": 640,
        "wires": [
            [
                "09db1906c0e09412"
            ]
        ]
    },
    {
        "id": "92593f204215f76a",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "33c8b33051afe822",
        "name": "",
        "label": "LED Green",
        "order": 7,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 150,
        "y": 680,
        "wires": [
            [
                "3344e17230a6d9f7"
            ]
        ]
    },
    {
        "id": "460e7af6b396f3ae",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "33c8b33051afe822",
        "name": "",
        "label": "LED Blue",
        "order": 8,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 160,
        "y": 720,
        "wires": [
            [
                "e595103df12ca554"
            ]
        ]
    },
    {
        "id": "c3c007d07dddcc83",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "87c6d1cd17eff6d5",
        "name": "",
        "label": "Disable TLM",
        "order": 7,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 900,
        "wires": [
            [
                "b5d62154f09edf79"
            ]
        ]
    },
    {
        "id": "afac2ae9d3e8f02f",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "87c6d1cd17eff6d5",
        "name": "",
        "label": "Enable TLM",
        "order": 6,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 940,
        "wires": [
            [
                "59a0bb862787b1a6"
            ]
        ]
    },
    {
        "id": "042b14c374b55f05",
        "type": "ui-number-input",
        "z": "3b521b08f4388c2f",
        "group": "87c6d1cd17eff6d5",
        "name": "tlmInterval",
        "label": "TLM Interval",
        "order": 5,
        "width": "2",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "120",
        "step": 1,
        "tooltip": "",
        "delay": 300,
        "passthru": false,
        "sendOnDelay": false,
        "sendOnBlur": false,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 150,
        "y": 1120,
        "wires": [
            [
                "283bee87f27680a3"
            ]
        ]
    },
    {
        "id": "6e9e7dd61283d843",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "87c6d1cd17eff6d5",
        "name": "",
        "label": "TLM Interval",
        "order": 4,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 150,
        "y": 1080,
        "wires": [
            [
                "e328bd37e42d09ce"
            ]
        ]
    },
    {
        "id": "283bee87f27680a3",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send TLM Interval",
        "func": "let interval = Number(msg.payload);\n\nif (!Number.isFinite(interval) || interval < 1) {\n    return null;\n}\n\nflow.set(\"tlmInterval\", interval);\n\nmsg.payload = \"SET,TELEMETRY,INTERVAL_S,\" + interval + \"\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1120,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "62553b58fa79262f",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send LED TLM Enable",
        "func": "msg.payload = \"SET,LED,TELEMETRY,ENABLE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 760,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "4fd1491d227d1661",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "33c8b33051afe822",
        "name": "",
        "label": "LED TLM Enable",
        "order": 9,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "green",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 760,
        "wires": [
            [
                "62553b58fa79262f"
            ]
        ]
    },
    {
        "id": "893873e9865c78e7",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send LED TLM Disable",
        "func": "msg.payload = \"SET,LED,TELEMETRY,DISABLE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 800,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "0dd4943fbe407ad7",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "33c8b33051afe822",
        "name": "",
        "label": "LED TLM Disable",
        "order": 10,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "red",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 800,
        "wires": [
            [
                "893873e9865c78e7"
            ]
        ]
    },
    {
        "id": "7b54df25ad4ef61f",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract RTC Current Time",
        "func": "msg.payload = msg.payload.rtcCurrentTime || \"\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 600,
        "wires": [
            [
                "e8c0bffef462e56b"
            ]
        ]
    },
    {
        "id": "e8c0bffef462e56b",
        "type": "ui-text",
        "z": "3b521b08f4388c2f",
        "group": "1f22eb0bf52ef7c6",
        "order": 5,
        "width": "2",
        "height": 1,
        "name": "",
        "label": "RTC Time",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1280,
        "y": 600,
        "wires": []
    },
    {
        "id": "c720218d514f0575",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract RTC Sync",
        "func": "msg.payload = msg.payload.rtcSync || \"\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 640,
        "wires": [
            [
                "bd735e5dcb4579f4"
            ]
        ]
    },
    {
        "id": "bd735e5dcb4579f4",
        "type": "ui-text",
        "z": "3b521b08f4388c2f",
        "group": "1f22eb0bf52ef7c6",
        "order": 6,
        "width": "2",
        "height": 1,
        "name": "",
        "label": "Clock Sync",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1290,
        "y": 640,
        "wires": []
    },
    {
        "id": "33792257d24eb50f",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send Get RTC",
        "func": "msg.payload = \"GET,RTC,NONE,NONE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1180,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "df94cdc0a80f63c0",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "1f22eb0bf52ef7c6",
        "name": "",
        "label": "Get RTC",
        "order": 1,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 160,
        "y": 1180,
        "wires": [
            [
                "33792257d24eb50f"
            ]
        ]
    },
    {
        "id": "d85c917cf73e1f60",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send Sync RTC",
        "func": "const iso = new Date().toISOString().replace(/\\.\\d{3}Z$/, \"Z\");\nmsg.payload = \"SET,RTC,CURRENT_TIME,\" + iso + \"\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1220,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "6dd04d34554401c8",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "1f22eb0bf52ef7c6",
        "name": "",
        "label": "Sync RTC",
        "order": 2,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 160,
        "y": 1220,
        "wires": [
            [
                "d85c917cf73e1f60"
            ]
        ]
    },
    {
        "id": "ee79695364ecdd29",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "50860bfd06fffa7a",
        "name": "",
        "label": "Get Battery",
        "order": 1,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 150,
        "y": 1360,
        "wires": [
            [
                "e4b26bb90d0f220e"
            ]
        ]
    },
    {
        "id": "9d15a20c452e946c",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send RTC TLM Enable",
        "func": "msg.payload = \"SET,RTC,TELEMETRY,ENABLE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1260,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "a34f43014263731c",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "1f22eb0bf52ef7c6",
        "name": "",
        "label": "RTC TLM Enable",
        "order": 3,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "green",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 1260,
        "wires": [
            [
                "9d15a20c452e946c"
            ]
        ]
    },
    {
        "id": "1549be4bc8ec49fe",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send RTC TLM Disable",
        "func": "msg.payload = \"SET,RTC,TELEMETRY,DISABLE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1300,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "6eb3a0a998e2f640",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "1f22eb0bf52ef7c6",
        "name": "",
        "label": "RTC TLM Disable",
        "order": 4,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "red",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 1300,
        "wires": [
            [
                "1549be4bc8ec49fe"
            ]
        ]
    },
    {
        "id": "4aa096b064148427",
        "type": "debug",
        "z": "3b521b08f4388c2f",
        "d": true,
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 120,
        "wires": []
    },
    {
        "id": "a1ea5ba4421bd12a",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "Packet Log",
        "func": "let packetLog = flow.get(\"packetLog\") || [];\n\npacketLog.unshift({\n    time: msg.time || \"\",\n    packetType: msg.type || \"\",\n    target: msg.target || \"\",\n    parameter: msg.parameter || \"\",\n    value: msg.value || msg.error || \"\",\n    raw: msg.raw || \"\"\n});\n\npacketLog = packetLog.slice(0, 25);\nflow.set(\"packetLog\", packetLog);\n\nreturn {\n    payload: {\n        rows: packetLog\n    }\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 40,
        "wires": [
            [
                "1a31ee3e2f5fbd84"
            ]
        ]
    },
    {
        "id": "1a31ee3e2f5fbd84",
        "type": "ui-template",
        "z": "3b521b08f4388c2f",
        "group": "87c6d1cd17eff6d5",
        "page": "",
        "ui": "",
        "name": "PacketLogTemplateWidget",
        "order": 13,
        "width": "8",
        "height": "5",
        "head": "",
        "format": "<template>\n  <v-card variant=\"tonal\" class=\"packet-log-card\">\n    <v-card-title>All Packet Log</v-card-title>\n    <v-card-text class=\"packet-log-body\">\n      <div v-if=\"!(msg.payload && msg.payload.rows && msg.payload.rows.length)\" class=\"packet-log-empty\">\n        No packets received yet.\n      </div>\n      <div v-else class=\"packet-log-list\">\n        <div\n          v-for=\"(row, index) in msg.payload.rows\"\n          :key=\"index\"\n          class=\"packet-log-row\"\n        >{{ row.raw || '-' }}</div>\n      </div>\n    </v-card-text>\n  </v-card>\n</template>\n\n<style>\n  .packet-log-card {\n    height: 100%;\n  }\n\n  .packet-log-body {\n    padding-top: 0;\n  }\n\n  .packet-log-list {\n    max-height: 26rem;\n    overflow-y: auto;\n    font-family: monospace;\n    line-height: 1.2;\n  }\n\n  .packet-log-row {\n    margin: 0;\n    padding: 0;\n    white-space: pre-wrap;\n    word-break: break-word;\n    font-size: 0.75rem;\n  }\n\n  .packet-log-empty {\n    color: rgba(0, 0, 0, 0.6);\n    font-size: 0.75rem;\n  }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1340,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "2be552e6b24cceb2",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send Battery TLM Enable",
        "func": "msg.payload = \"SET,BATTERY,TELEMETRY,ENABLE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1400,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "2692c008f64faffb",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "50860bfd06fffa7a",
        "name": "",
        "label": "Batt TLM Enable",
        "order": 2,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "green",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 1400,
        "wires": [
            [
                "2be552e6b24cceb2"
            ]
        ]
    },
    {
        "id": "f4a1656cb87162e3",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send RTC TLM Disable",
        "func": "msg.payload = \"SET,BATTERY,TELEMETRY,DISABLE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1440,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "e378cf0c2b6b2054",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "50860bfd06fffa7a",
        "name": "",
        "label": "Batt TLM Disable",
        "order": 3,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "red",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 1440,
        "wires": [
            [
                "f4a1656cb87162e3"
            ]
        ]
    },
    {
        "id": "0533515e80ab7a66",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "Batt States",
        "func": "msg.payload = [\n    {\n        batteryTelemetry: msg.payload.batteryTelemetry || \"\",\n        batteryAvailable: msg.payload.batteryAvailable || \"\",\n        chargeCurrentA: msg.payload.chargeCurrentA || \"\",\n        chargeVoltageV: msg.payload.chargeVoltageV || \"\",\n        chargePercentP: msg.payload.chargePercentP || \"\",\n        batteryVoltage: msg.payload.batteryVoltage || \"\",\n    }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 1060,
        "wires": [
            [
                "17cc045685eb838a"
            ]
        ]
    },
    {
        "id": "17cc045685eb838a",
        "type": "ui-table",
        "z": "3b521b08f4388c2f",
        "group": "50860bfd06fffa7a",
        "name": "Batt Table",
        "label": "",
        "order": 4,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": true,
        "showSearch": false,
        "deselect": true,
        "selectionType": "none",
        "columns": [],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "className": "",
        "x": 1280,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "ef27dc9f7bf52f97",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "Error Log",
        "func": "if (msg.type !== \"ERR\") {\n    return null;\n}\n\nlet errorLog = flow.get(\"errorLog\") || [];\n\nerrorLog.unshift({\n    raw: msg.raw || \"\"\n});\n\nerrorLog = errorLog.slice(0, 25);\nflow.set(\"errorLog\", errorLog);\n\nreturn {\n    payload: {\n        rows: errorLog\n    }\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 80,
        "wires": [
            [
                "bc0f698e4df51464"
            ]
        ]
    },
    {
        "id": "bc0f698e4df51464",
        "type": "ui-template",
        "z": "3b521b08f4388c2f",
        "group": "87c6d1cd17eff6d5",
        "page": "",
        "ui": "",
        "name": "ErrorLogTemplateWidget",
        "order": 11,
        "width": "4",
        "height": "3",
        "head": "",
        "format": "<template>\n  <v-card variant=\"tonal\" class=\"error-log-card\">\n    <v-card-title>ERR Log</v-card-title>\n    <v-card-text class=\"error-log-body\">\n      <div v-if=\"!(msg.payload && msg.payload.rows && msg.payload.rows.length)\" class=\"error-log-empty\">\n        No errors received yet.\n      </div>\n      <div v-else class=\"error-log-list\">\n        <div\n          v-for=\"(row, index) in msg.payload.rows\"\n          :key=\"index\"\n          class=\"error-log-row\"\n        >{{ row.raw || '-' }}</div>\n      </div>\n    </v-card-text>\n  </v-card>\n</template>\n\n<style>\n  .error-log-card {\n    height: 100%;\n    background: rgba(160, 32, 32, 0.22);\n  }\n\n  .error-log-body {\n    padding-top: 0;\n  }\n\n  .error-log-list {\n    max-height: 26rem;\n    overflow-y: auto;\n    font-family: monospace;\n    line-height: 1.2;\n  }\n\n  .error-log-row {\n    margin: 0;\n    padding: 0;\n    white-space: pre-wrap;\n    word-break: break-word;\n    font-size: 0.75rem;\n  }\n\n  .error-log-empty {\n    color: rgba(0, 0, 0, 0.6);\n    font-size: 0.75rem;\n  }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1330,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "75d89644b6648243",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send Error",
        "func": "msg.payload = \"PING,TEST,NONE,NONE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 300,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "80f7dae0ec2b017d",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "0c10ce94c624bca1",
        "name": "",
        "label": "Gen Error",
        "order": 7,
        "width": "4",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 160,
        "y": 300,
        "wires": [
            [
                "75d89644b6648243"
            ]
        ]
    },
    {
        "id": "1548f4b860c06079",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "ACK Log",
        "func": "if (msg.type !== \"ACK\") {\n    return null;\n}\n\nlet ackLog = flow.get(\"ackLog\") || [];\n\nackLog.unshift({\n    raw: msg.raw || \"\"\n});\n\nackLog = ackLog.slice(0, 25);\nflow.set(\"ackLog\", ackLog);\n\nreturn {\n    payload: {\n        rows: ackLog\n    }\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 120,
        "wires": [
            [
                "c17a9b5adfd13f45"
            ]
        ]
    },
    {
        "id": "c17a9b5adfd13f45",
        "type": "ui-template",
        "z": "3b521b08f4388c2f",
        "group": "87c6d1cd17eff6d5",
        "page": "",
        "ui": "",
        "name": "AckLogTemplateWidget",
        "order": 12,
        "width": "4",
        "height": "3",
        "head": "",
        "format": "<template>\n  <v-card variant=\"tonal\" class=\"ack-log-card\">\n    <v-card-title>ACK Log</v-card-title>\n    <v-card-text class=\"ack-log-body\">\n      <div v-if=\"!(msg.payload && msg.payload.rows && msg.payload.rows.length)\" class=\"ack-log-empty\">\n        No acknowledgements received yet.\n      </div>\n      <div v-else class=\"ack-log-list\">\n        <div\n          v-for=\"(row, index) in msg.payload.rows\"\n          :key=\"index\"\n          class=\"ack-log-row\"\n        >{{ row.raw || '-' }}</div>\n      </div>\n    </v-card-text>\n  </v-card>\n</template>\n\n<style>\n  .ack-log-card {\n    height: 100%;\n    background: rgba(32, 96, 48, 0.24);\n  }\n\n  .ack-log-body {\n    padding-top: 0;\n  }\n\n  .ack-log-list {\n    max-height: 26rem;\n    overflow-y: auto;\n    font-family: monospace;\n    line-height: 1.2;\n  }\n\n  .ack-log-row {\n    margin: 0;\n    padding: 0;\n    white-space: pre-wrap;\n    word-break: break-word;\n    font-size: 0.75rem;\n  }\n\n  .ack-log-empty {\n    color: rgba(0, 0, 0, 0.6);\n    font-size: 0.75rem;\n  }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1330,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "0370a1a51410027a",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "function 2",
        "func": "let command = String(msg.payload) + \"\\n\";\n\nflow.set(\"custCommand\", command);\n\nmsg.payload = command;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 340,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "cdda8c29f1dc0e57",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send custCommand",
        "func": "let command = flow.get(\"custCommand\");\n\nmsg.payload = command;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 380,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "a19d0a499361ec6c",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "d": true,
        "group": "0c10ce94c624bca1",
        "name": "Send custCommand",
        "label": "Send",
        "order": 9,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 120,
        "y": 380,
        "wires": [
            [
                "cdda8c29f1dc0e57"
            ]
        ]
    },
    {
        "id": "3d4325c0033b1940",
        "type": "ui-text-input",
        "z": "3b521b08f4388c2f",
        "group": "0c10ce94c624bca1",
        "name": "custCommand",
        "label": "Custom Command",
        "order": 8,
        "width": "4",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": false,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 140,
        "y": 340,
        "wires": [
            [
                "0370a1a51410027a"
            ]
        ]
    },
    {
        "id": "0909b96a0a73a827",
        "type": "ui-text",
        "z": "3b521b08f4388c2f",
        "group": "87c6d1cd17eff6d5",
        "order": 9,
        "width": "2",
        "height": 1,
        "name": "",
        "label": "TLM Telemetry",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1300,
        "y": 420,
        "wires": []
    },
    {
        "id": "e5510a7192e55937",
        "type": "ui-text",
        "z": "3b521b08f4388c2f",
        "group": "87c6d1cd17eff6d5",
        "order": 10,
        "width": "2",
        "height": 1,
        "name": "",
        "label": "Telemetry Interval",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1310,
        "y": 460,
        "wires": []
    },
    {
        "id": "ae52786b457f50e3",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send TLM TLM Enable",
        "func": "msg.payload = \"SET,TELEMETRY,TELEMETRY,ENABLE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 980,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "ca36fd9b245b023d",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "87c6d1cd17eff6d5",
        "name": "",
        "label": "TLM TLM Enable",
        "order": 2,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "green",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 980,
        "wires": [
            [
                "ae52786b457f50e3"
            ]
        ]
    },
    {
        "id": "c3309c0c60ec49bd",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send TLM TLM Disable",
        "func": "msg.payload = \"SET,TELEMETRY,TELEMETRY,DISABLE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1020,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "cc279f78c4911bdf",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "87c6d1cd17eff6d5",
        "name": "",
        "label": "TLM TLM Disable",
        "order": 3,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "red",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 1020,
        "wires": [
            [
                "c3309c0c60ec49bd"
            ]
        ]
    },
    {
        "id": "2e82d278f9c70970",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send Get TLM",
        "func": "msg.payload = \"GET,TELEMETRY,NONE,NONE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 860,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "295e2193fc2d2416",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "87c6d1cd17eff6d5",
        "name": "",
        "label": "Get TLM",
        "order": 1,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 140,
        "y": 860,
        "wires": [
            [
                "2e82d278f9c70970"
            ]
        ]
    },
    {
        "id": "909594e5ba8c37c2",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract statusHeartbeat Value",
        "func": "msg.payload = msg.payload.statusHeartbeatValue || \"\"; return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 240,
        "wires": [
            [
                "9ba63acfcdb06bb0"
            ]
        ]
    },
    {
        "id": "9ba63acfcdb06bb0",
        "type": "ui-text",
        "z": "3b521b08f4388c2f",
        "group": "0c10ce94c624bca1",
        "order": 2,
        "width": "4",
        "height": 1,
        "name": "",
        "label": "Heartbeat Counter",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1310,
        "y": 240,
        "wires": []
    },
    {
        "id": "fe6c806c0622a520",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract statusHeartbeat Time",
        "func": "msg.payload = msg.payload.statusHeartbeatTime || \"\"; return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 200,
        "wires": [
            [
                "eab9f7b01a04c458"
            ]
        ]
    },
    {
        "id": "eab9f7b01a04c458",
        "type": "ui-text",
        "z": "3b521b08f4388c2f",
        "group": "0c10ce94c624bca1",
        "order": 1,
        "width": "4",
        "height": 1,
        "name": "",
        "label": "Last Heartbeat",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1300,
        "y": 200,
        "wires": []
    },
    {
        "id": "d506d2be422b81e6",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract RTC TLM Enabled",
        "func": "msg.payload = msg.payload.rtcTelemetry || \"\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 680,
        "wires": [
            [
                "dc21974ebd615146"
            ]
        ]
    },
    {
        "id": "dc21974ebd615146",
        "type": "ui-text",
        "z": "3b521b08f4388c2f",
        "group": "1f22eb0bf52ef7c6",
        "order": 7,
        "width": "2",
        "height": 1,
        "name": "",
        "label": "RTC Telemetry",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1300,
        "y": 680,
        "wires": []
    },
    {
        "id": "93d87df78233859c",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract LED Enable",
        "func": "msg.payload = msg.payload.ledEnable || \"\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 840,
        "wires": [
            [
                "244fb5d509b779a0"
            ]
        ]
    },
    {
        "id": "244fb5d509b779a0",
        "type": "ui-text",
        "z": "3b521b08f4388c2f",
        "group": "33c8b33051afe822",
        "order": 11,
        "width": "2",
        "height": 1,
        "name": "",
        "label": "LED Enable",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1290,
        "y": 840,
        "wires": []
    },
    {
        "id": "fb2a49fa8d6ad39d",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract LED State",
        "func": "msg.payload = msg.payload.ledState || \"\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 880,
        "wires": [
            [
                "887b7ebf277dcbd2"
            ]
        ]
    },
    {
        "id": "887b7ebf277dcbd2",
        "type": "ui-text",
        "z": "3b521b08f4388c2f",
        "group": "33c8b33051afe822",
        "order": 12,
        "width": "2",
        "height": 1,
        "name": "",
        "label": "LED State",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1280,
        "y": 880,
        "wires": []
    },
    {
        "id": "51f5a5dcfe3e5cd8",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract LED Color",
        "func": "msg.payload = msg.payload.ledColor || \"\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 920,
        "wires": [
            [
                "2f5caf09449c7d9c"
            ]
        ]
    },
    {
        "id": "2f5caf09449c7d9c",
        "type": "ui-text",
        "z": "3b521b08f4388c2f",
        "group": "33c8b33051afe822",
        "order": 14,
        "width": "2",
        "height": 1,
        "name": "",
        "label": "LED Color",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1290,
        "y": 920,
        "wires": []
    },
    {
        "id": "89175a9d63aee81c",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract LED TLM",
        "func": "msg.payload = msg.payload.ledTelemetry || \"\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 960,
        "wires": [
            [
                "d7befc5a2714f9f5"
            ]
        ]
    },
    {
        "id": "d7befc5a2714f9f5",
        "type": "ui-text",
        "z": "3b521b08f4388c2f",
        "group": "33c8b33051afe822",
        "order": 13,
        "width": "2",
        "height": 1,
        "name": "",
        "label": "LED Telemetry",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1300,
        "y": 960,
        "wires": []
    },
    {
        "id": "089c3ef6e90e9473",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send Get Status",
        "func": "msg.payload = \"GET,STATUS,NONE,NONE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 260,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "fc394b82c03ca94d",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "0c10ce94c624bca1",
        "name": "",
        "label": "Get Status",
        "order": 6,
        "width": "4",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "089c3ef6e90e9473"
            ]
        ]
    },
    {
        "id": "99f6a6b4cde014ec",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send Get RTC",
        "func": "msg.payload = \"GET,GPS,NONE,NONE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1500,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "99e4d1070690697d",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "a02eb05c11bee1d4",
        "name": "",
        "label": "Get GPS",
        "order": 1,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 160,
        "y": 1500,
        "wires": [
            [
                "99f6a6b4cde014ec"
            ]
        ]
    },
    {
        "id": "baab0a7f141ded66",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract GPS Enable",
        "func": "msg.payload = msg.payload.gpsEnable || \"\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 1180,
        "wires": [
            [
                "6c1abf38ce1d10c7"
            ]
        ]
    },
    {
        "id": "6c1abf38ce1d10c7",
        "type": "ui-text",
        "z": "3b521b08f4388c2f",
        "group": "a02eb05c11bee1d4",
        "order": 4,
        "width": "2",
        "height": 1,
        "name": "",
        "label": "GPS Enable",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1290,
        "y": 1180,
        "wires": []
    },
    {
        "id": "560cda290dd1172b",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract GPS Available",
        "func": "msg.payload = msg.payload.gpsAvailable || \"\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 1220,
        "wires": [
            [
                "b042ec8b96e713d5"
            ]
        ]
    },
    {
        "id": "b042ec8b96e713d5",
        "type": "ui-text",
        "z": "3b521b08f4388c2f",
        "group": "a02eb05c11bee1d4",
        "order": 5,
        "width": "2",
        "height": 1,
        "name": "",
        "label": "GPS Available",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1300,
        "y": 1220,
        "wires": []
    },
    {
        "id": "d1b702a46a0467e7",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract GPS Latitude",
        "func": "msg.payload = msg.payload.gpsLatitude || \"\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 1260,
        "wires": [
            [
                "b6470819b3315455"
            ]
        ]
    },
    {
        "id": "b6470819b3315455",
        "type": "ui-text",
        "z": "3b521b08f4388c2f",
        "group": "a02eb05c11bee1d4",
        "order": 9,
        "width": "2",
        "height": 1,
        "name": "",
        "label": "GPS Latitude",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1300,
        "y": 1260,
        "wires": []
    },
    {
        "id": "466689066fb07c4c",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract GPS Longitude",
        "func": "msg.payload = msg.payload.gpsLongitude || \"\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 1300,
        "wires": [
            [
                "eae9694587c3e7dc"
            ]
        ]
    },
    {
        "id": "eae9694587c3e7dc",
        "type": "ui-text",
        "z": "3b521b08f4388c2f",
        "group": "a02eb05c11bee1d4",
        "order": 6,
        "width": "2",
        "height": 1,
        "name": "",
        "label": "GPS Longitude",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1300,
        "y": 1300,
        "wires": []
    },
    {
        "id": "105a93f091bf072b",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send GPS TLM Enable",
        "func": "msg.payload = \"SET,GPS,TELEMETRY,ENABLE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1540,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "4d5c6a049f7de23e",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "a02eb05c11bee1d4",
        "name": "",
        "label": "GPS TLM Enable",
        "order": 2,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "green",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 1540,
        "wires": [
            [
                "105a93f091bf072b"
            ]
        ]
    },
    {
        "id": "b5ad1afa06be4a91",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send TLM TLM Disable",
        "func": "msg.payload = \"SET,GPS,TELEMETRY,DISABLE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1580,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "efac6683ba23993b",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "a02eb05c11bee1d4",
        "name": "",
        "label": "GPS TLM Disable",
        "order": 3,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "red",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 1580,
        "wires": [
            [
                "b5ad1afa06be4a91"
            ]
        ]
    },
    {
        "id": "376077d2878f2dba",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract GPS Altitude",
        "func": "msg.payload = msg.payload.gpsAltitude || \"\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 1340,
        "wires": [
            [
                "cfed0d97ebfc14a3"
            ]
        ]
    },
    {
        "id": "cfed0d97ebfc14a3",
        "type": "ui-text",
        "z": "3b521b08f4388c2f",
        "group": "a02eb05c11bee1d4",
        "order": 7,
        "width": "2",
        "height": 1,
        "name": "",
        "label": "GPS Altitude",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1290,
        "y": 1340,
        "wires": []
    },
    {
        "id": "9c0a224cc277b77e",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract GPS Speed",
        "func": "msg.payload = msg.payload.gpsSpeed || \"\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 1380,
        "wires": [
            [
                "b7f376905d9c73b1"
            ]
        ]
    },
    {
        "id": "b7f376905d9c73b1",
        "type": "ui-text",
        "z": "3b521b08f4388c2f",
        "group": "a02eb05c11bee1d4",
        "order": 8,
        "width": "2",
        "height": 1,
        "name": "",
        "label": "GPS Speed",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1290,
        "y": 1380,
        "wires": []
    }
]