ground-station/flows/.main.json.backup
[
    {
        "id": "3b521b08f4388c2f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7180565ad450ba58",
        "type": "serial-port",
        "name": "usbmodem2101",
        "serialport": "/dev/tty.usbmodem2101",
        "serialbaud": "115200",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "d0f6c0df3d6bbbec",
        "type": "ui-base",
        "name": "MySat Ground Station",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "5b53033ae39ab468",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "8037b6b5da1c3e49",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-serialport": "2.0.3",
            "@flowfuse/node-red-dashboard": "1.30.2"
        }
    },
    {
        "id": "3910494bd8aa444c",
        "type": "ui-page",
        "name": "Ground Station",
        "ui": "d0f6c0df3d6bbbec",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "5b53033ae39ab468",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "27f54bb6a6a84aaa",
        "type": "ui-group",
        "name": "Group 1",
        "page": "3910494bd8aa444c",
        "width": 6,
        "height": 1,
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "f97e68d451736993",
        "type": "ui-page",
        "name": "Mission Control",
        "ui": "d0f6c0df3d6bbbec",
        "path": "/page2",
        "icon": "home",
        "layout": "grid",
        "theme": "5b53033ae39ab468",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "0c10ce94c624bca1",
        "type": "ui-group",
        "name": "General",
        "page": "f97e68d451736993",
        "width": "3",
        "height": 1,
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "50860bfd06fffa7a",
        "type": "ui-group",
        "name": "Controls",
        "page": "f97e68d451736993",
        "width": "9",
        "height": 1,
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "87c6d1cd17eff6d5",
        "type": "ui-group",
        "name": "Telemetry",
        "page": "f97e68d451736993",
        "width": 6,
        "height": 1,
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "33c8b33051afe822",
        "type": "ui-group",
        "name": "LED System",
        "page": "f97e68d451736993",
        "width": 6,
        "height": "3",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "5124fb12bde93c6f",
        "type": "serial in",
        "z": "3b521b08f4388c2f",
        "name": "",
        "serial": "7180565ad450ba58",
        "x": 100,
        "y": 40,
        "wires": [
            [
                "e80ca2965e7ce828"
            ]
        ]
    },
    {
        "id": "a407349444f312cf",
        "type": "serial out",
        "z": "3b521b08f4388c2f",
        "name": "",
        "serial": "7180565ad450ba58",
        "x": 720,
        "y": 640,
        "wires": []
    },
    {
        "id": "e80ca2965e7ce828",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "Main Parser",
        "func": "let line = String(msg.payload).trim();\nif (!line) return null;\n\nlet parts = line.split(\",\");\n\nif (parts.length < 2) return null;\n\nmsg.raw = line;\nmsg.time = parts[0];      // keep as text\nmsg.type = parts[1];\n\nif (msg.type === \"TLM\" && parts.length >= 5) {\n    msg.target = parts[2];\n    msg.parameter = parts[3];\n    msg.value = parts[4];\n}\nelse if (msg.type === \"ACK\" && parts.length >= 4) {\n    msg.target = parts[2];\n    msg.value = parts[3];\n}\nelse if (msg.type === \"ERR\" && parts.length >= 3) {\n    msg.error = parts[2];\n\n    if (parts.length >= 4) {\n        msg.errorContext = parts[3];\n        try {\n            msg.errorContextDecoded = decodeURIComponent(parts[3]);\n        } catch (err) {\n            msg.errorContextDecoded = parts[3];\n        }\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 40,
        "wires": [
            [
                "50ef76a53201094c",
                "aa985b330f623025"
            ]
        ]
    },
    {
        "id": "50ef76a53201094c",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "TLM Storage",
        "func": "let state = flow.get(\"satState\") || {};\n\nif (!state.tlm) {\n    state.tlm = {};\n}\nif (!state.lastAck) {\n    state.lastAck = null;\n}\nif (!state.lastErr) {\n    state.lastErr = null;\n}\nif (!state.time) {\n    state.time = null;\n}\n\nif (msg.time) {\n    state.time = msg.time;\n}\n\nif (msg.type === \"TLM\") {\n    if (!msg.target || !msg.parameter) {\n        return null;\n    }\n\n    if (!state.tlm[msg.target]) {\n        state.tlm[msg.target] = {};\n    }\n\n    state.tlm[msg.target][msg.parameter] = {\n        value: msg.value,\n        time: msg.time\n    };\n}\nelse if (msg.type === \"ACK\") {\n    state.lastAck = {\n        target: msg.target || null,\n        value: msg.value || null,\n        time: msg.time || null\n    };\n}\nelse if (msg.type === \"ERR\") {\n    state.lastErr = {\n        error: msg.error || null,\n        context: msg.errorContext || null,\n        contextDecoded: msg.errorContextDecoded || null,\n        time: msg.time || null\n    };\n}\n\nflow.set(\"satState\", state);\n\nmsg.state = state;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 40,
        "wires": [
            [
                "af2be4cc68f6c30d",
                "9919dab57debe661"
            ]
        ]
    },
    {
        "id": "af2be4cc68f6c30d",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "Flatten State",
        "func": "let s = msg.state || {};\nlet tlm = s.tlm || {};\n\nfunction getValue(target, parameter, fallback = \"\") {\n    if (tlm[target] && tlm[target][parameter]) {\n        return tlm[target][parameter].value;\n    }\n    return fallback;\n}\n\nmsg.payload = {\n    time: s.time || \"\",\n    rtcCurrentTime: getValue(\"RTC\", \"CURRENT_TIME\"),\n    rtcSync: getValue(\"RTC\", \"SYNC\"),\n    ledEnable: getValue(\"LED\", \"ENABLE\"),\n    ledState: getValue(\"LED\", \"STATE\"),\n    ledColor: getValue(\"LED\", \"COLOR\"),\n    ledTelemetry: getValue(\"LED\", \"TELEMETRY\"),\n    telemetryEnable: getValue(\"TELEMETRY\", \"ENABLE\"),\n    telemetryInterval: getValue(\"TELEMETRY\", \"INTERVAL_S\"),\n    batteryTelemetry: getValue(\"BATTERY\", \"TELEMETRY\"),\n    batteryAvailable: getValue(\"BATTERY\", \"AVAILABLE\"),\n    onBattery: getValue(\"BATTERY\", \"ON_BATTERY\"),\n    chargeCurrentA: getValue(\"BATTERY\", \"CHARGE_CURRENT_A\"),\n    chargeVoltageV: getValue(\"BATTERY\", \"CHARGE_VOLTAGE_V\"),\n    chargePercentP: getValue(\"BATTERY\", \"CHARGE_PERCENT_P\"),\n    lastAck: s.lastAck,\n    lastErr: s.lastErr\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 120,
        "wires": [
            [
                "353ea91c8195f24d",
                "e801888fd08475bd",
                "b8a99bc218fbe40e",
                "bc470b80b14f8ffb",
                "879d3a364ed6ee7f",
                "0b2ea32d4b67bf0d",
                "40b71589d101899b",
                "dad35d72a6b5f9d6",
                "b30ce9edf5df543c",
                "ce81e4884bf62a13",
                "05128a24ed57fb61",
                "cbf9be1a32b5b38a",
                "f085d816c4e62e09",
                "7b54df25ad4ef61f",
                "c720218d514f0575"
            ]
        ]
    },
    {
        "id": "353ea91c8195f24d",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract Last TLM",
        "func": "msg.payload = msg.payload.time || \"\"; return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 420,
        "wires": [
            [
                "aa35e6502e80f6ca"
            ]
        ]
    },
    {
        "id": "aa35e6502e80f6ca",
        "type": "ui-text",
        "z": "3b521b08f4388c2f",
        "group": "0c10ce94c624bca1",
        "order": 3,
        "width": "3",
        "height": 1,
        "name": "",
        "label": "Last TLM",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1280,
        "y": 420,
        "wires": []
    },
    {
        "id": "e801888fd08475bd",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract Telemetry Enable",
        "func": "msg.payload = msg.payload.telemetryEnable || \"\"; return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "b8a99bc218fbe40e",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract Telemetry Interval (s)",
        "func": "msg.payload = msg.payload.telemetryInterval || \"\"; return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "bc470b80b14f8ffb",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract Charge Current (A)",
        "func": "msg.payload = msg.payload.chargeCurrentA || \"\"; return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 900,
        "wires": [
            [
                "591fda52697d738e"
            ]
        ]
    },
    {
        "id": "591fda52697d738e",
        "type": "ui-text",
        "z": "3b521b08f4388c2f",
        "group": "27f54bb6a6a84aaa",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Charge Current (A)",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1320,
        "y": 900,
        "wires": []
    },
    {
        "id": "879d3a364ed6ee7f",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract Charge Voltage (V)",
        "func": "msg.payload = msg.payload.chargeVoltageV || \"\"; return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 940,
        "wires": [
            [
                "4e79dc84e1f17698"
            ]
        ]
    },
    {
        "id": "4e79dc84e1f17698",
        "type": "ui-text",
        "z": "3b521b08f4388c2f",
        "group": "27f54bb6a6a84aaa",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Charge Voltage (V)",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1320,
        "y": 940,
        "wires": []
    },
    {
        "id": "0b2ea32d4b67bf0d",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract Last ACK",
        "func": "if (!msg.payload.lastAck) {\n    msg.payload = \"\";\n    return msg;\n}\nmsg.payload = [msg.payload.lastAck.time, msg.payload.lastAck.target, msg.payload.lastAck.value]\n    .filter(v => v !== null && v !== undefined && v !== \"\")\n    .join(\" | \");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 460,
        "wires": [
            [
                "6d5439a9dd0319e8"
            ]
        ]
    },
    {
        "id": "6d5439a9dd0319e8",
        "type": "ui-text",
        "z": "3b521b08f4388c2f",
        "group": "0c10ce94c624bca1",
        "order": 9,
        "width": "3",
        "height": 1,
        "name": "",
        "label": "Last ACK",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1280,
        "y": 460,
        "wires": []
    },
    {
        "id": "40b71589d101899b",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract Last ERR",
        "func": "if (!msg.payload.lastErr) {\n    msg.payload = \"\";\n    return msg;\n}\nmsg.payload = [\n    msg.payload.lastErr.time,\n    msg.payload.lastErr.error,\n    msg.payload.lastErr.contextDecoded\n]\n    .filter(v => v !== null && v !== undefined && v !== \"\")\n    .join(\" | \");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 500,
        "wires": [
            [
                "4a17bc77ddbdb063"
            ]
        ]
    },
    {
        "id": "4a17bc77ddbdb063",
        "type": "ui-text",
        "z": "3b521b08f4388c2f",
        "group": "0c10ce94c624bca1",
        "order": 10,
        "width": "3",
        "height": 1,
        "name": "",
        "label": "Last ERR",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1280,
        "y": 500,
        "wires": []
    },
    {
        "id": "9331f758d9c225ed",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send Ping",
        "func": "msg.payload = \"PING,NONE,NONE,NONE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 380,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "705d00e7e4f34d52",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send Get LED",
        "func": "msg.payload = \"GET,LED,NONE,NONE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 440,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "e4b26bb90d0f220e",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send Get Battery",
        "func": "msg.payload = \"GET,BATTERY,NONE,NONE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1320,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "40a56bcaa8abc94f",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send LED Enable",
        "func": "msg.payload = \"SET,LED,ENABLE,TRUE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 480,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "9c4c9523287dbc60",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send LED Disable",
        "func": "msg.payload = \"SET,LED,ENABLE,FALSE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 520,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "097e0d32dd4bc1f9",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send LED ON",
        "func": "msg.payload = \"SET,LED,STATE,ON\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 560,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "49f5d0774b720662",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send LED OFF",
        "func": "msg.payload = \"SET,LED,STATE,OFF\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 600,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "b5d62154f09edf79",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send TLM Enable",
        "func": "msg.payload = \"SET,TELEMETRY,ENABLE,TRUE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 860,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "59a0bb862787b1a6",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send TLM Disable",
        "func": "msg.payload = \"SET,TELEMETRY,ENABLE,FALSE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 900,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "e328bd37e42d09ce",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send TLM Interval 10",
        "func": "let interval = flow.get(\"tlmInterval\");\n\nif (!Number.isFinite(interval) || interval < 1) {\n    return null;\n}\n\nmsg.payload = \"SET,TELEMETRY,INTERVAL_S,\" + interval + \"\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 940,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "76ba83bf503fa602",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "50860bfd06fffa7a",
        "name": "",
        "label": "Ping",
        "order": 2,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "9331f758d9c225ed"
            ]
        ]
    },
    {
        "id": "dad35d72a6b5f9d6",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract Battery Available card",
        "func": "msg.payload = { label: 'Battery Available', value: msg.payload.batteryAvailable || '' };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 820,
        "wires": [
            [
                "bfcf577fd7f82f7f"
            ]
        ]
    },
    {
        "id": "bfcf577fd7f82f7f",
        "type": "ui-template",
        "z": "3b521b08f4388c2f",
        "group": "27f54bb6a6a84aaa",
        "page": "",
        "ui": "",
        "name": "Battery Available card",
        "order": 4,
        "width": 6,
        "height": 2,
        "head": "",
        "format": "<template>\n  <v-card variant=\"tonal\">\n    <v-card-text class=\"d-flex align-center justify-space-between\">\n      <span>{{ msg.payload.label }}</span>\n      <v-chip\n        :color=\"msg.payload.value === 'TRUE' ? 'green' : 'grey'\"\n        variant=\"flat\"\n      >\n        {{ msg.payload.value || 'UNKNOWN' }}\n      </v-chip>\n    </v-card-text>\n  </v-card>\n</template>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1300,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "b30ce9edf5df543c",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract On Battery card",
        "func": "msg.payload = { label: 'On Battery', value: msg.payload.onBattery || '' };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 860,
        "wires": [
            [
                "d5506d64e49831d9"
            ]
        ]
    },
    {
        "id": "d5506d64e49831d9",
        "type": "ui-template",
        "z": "3b521b08f4388c2f",
        "group": "27f54bb6a6a84aaa",
        "page": "",
        "ui": "",
        "name": "On Battery card",
        "order": 5,
        "width": 6,
        "height": 2,
        "head": "",
        "format": "<template>\n  <v-card variant=\"tonal\">\n    <v-card-text class=\"d-flex align-center justify-space-between\">\n      <span>{{ msg.payload.label }}</span>\n      <v-chip\n        :color=\"msg.payload.value === 'TRUE' ? 'green' : 'grey'\"\n        variant=\"flat\"\n      >\n        {{ msg.payload.value || 'UNKNOWN' }}\n      </v-chip>\n    </v-card-text>\n  </v-card>\n</template>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1300,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "ce81e4884bf62a13",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract Charge Percent gauge",
        "func": "msg.payload = Number(msg.payload.chargePercentP || 0);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 980,
        "wires": [
            [
                "59e5d09d9ab69709"
            ]
        ]
    },
    {
        "id": "59e5d09d9ab69709",
        "type": "ui-gauge",
        "z": "3b521b08f4388c2f",
        "d": true,
        "name": "Charge Percent Gauge",
        "group": "27f54bb6a6a84aaa",
        "order": 8,
        "width": 6,
        "height": 4,
        "gtype": "gauge-half",
        "title": "Charge Percent",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#d32f2f"
            },
            {
                "from": "20",
                "color": "#fbc02d"
            },
            {
                "from": "50",
                "color": "#388e3c"
            }
        ],
        "min": 0,
        "max": "100",
        "className": "",
        "x": 1310,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "05128a24ed57fb61",
        "type": "ui-table",
        "z": "3b521b08f4388c2f",
        "group": "27f54bb6a6a84aaa",
        "name": "Last 10 TLM",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "maxrows": "10",
        "passthru": false,
        "autocols": true,
        "showSearch": true,
        "deselect": true,
        "selectionType": "none",
        "columns": [],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "className": "",
        "x": 1250,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "09db1906c0e09412",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send LED RED",
        "func": "msg.payload = \"SET,LED,COLOR,RED\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 640,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "3344e17230a6d9f7",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send LED GREEN",
        "func": "msg.payload = \"SET,LED,COLOR,GREEN\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 680,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "e595103df12ca554",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send LED OFF",
        "func": "msg.payload = \"SET,LED,COLOR,BLUE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 720,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "74bbce1b31f77c86",
        "type": "ui-table",
        "z": "3b521b08f4388c2f",
        "group": "33c8b33051afe822",
        "name": "",
        "label": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": true,
        "showSearch": true,
        "deselect": true,
        "selectionType": "none",
        "columns": [],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "className": "",
        "x": 1270,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "cbf9be1a32b5b38a",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "LED States",
        "func": "msg.payload = [\n    {\n        enable: msg.payload.ledEnable || \"\",\n        state: msg.payload.ledState || \"\",\n        color: msg.payload.ledColor || \"\",\n        telemetry: msg.payload.ledTelemetry || \"\"\n    }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 200,
        "wires": [
            [
                "74bbce1b31f77c86"
            ]
        ]
    },
    {
        "id": "ec18fbfcdaab42ea",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "50860bfd06fffa7a",
        "name": "",
        "label": "Get LED",
        "order": 2,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 140,
        "y": 440,
        "wires": [
            [
                "705d00e7e4f34d52"
            ]
        ]
    },
    {
        "id": "1f22e87c02b58372",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "50860bfd06fffa7a",
        "name": "",
        "label": "LED Enable",
        "order": 2,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 480,
        "wires": [
            [
                "40a56bcaa8abc94f"
            ]
        ]
    },
    {
        "id": "6d9e42b83f4d38cb",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "50860bfd06fffa7a",
        "name": "",
        "label": "LED Disable",
        "order": 2,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 520,
        "wires": [
            [
                "9c4c9523287dbc60"
            ]
        ]
    },
    {
        "id": "f523164eac227171",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "50860bfd06fffa7a",
        "name": "",
        "label": "LED On",
        "order": 2,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 140,
        "y": 560,
        "wires": [
            [
                "097e0d32dd4bc1f9"
            ]
        ]
    },
    {
        "id": "0d886fe807b1ca8e",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "50860bfd06fffa7a",
        "name": "",
        "label": "LED Off",
        "order": 2,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 140,
        "y": 600,
        "wires": [
            [
                "49f5d0774b720662"
            ]
        ]
    },
    {
        "id": "83580219a5452c9f",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "50860bfd06fffa7a",
        "name": "",
        "label": "LED Red",
        "order": 2,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 140,
        "y": 640,
        "wires": [
            [
                "09db1906c0e09412"
            ]
        ]
    },
    {
        "id": "92593f204215f76a",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "50860bfd06fffa7a",
        "name": "",
        "label": "LED Green",
        "order": 2,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 680,
        "wires": [
            [
                "3344e17230a6d9f7"
            ]
        ]
    },
    {
        "id": "460e7af6b396f3ae",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "50860bfd06fffa7a",
        "name": "",
        "label": "LED Blue",
        "order": 2,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 140,
        "y": 720,
        "wires": [
            [
                "e595103df12ca554"
            ]
        ]
    },
    {
        "id": "c3c007d07dddcc83",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "50860bfd06fffa7a",
        "name": "",
        "label": "TLM Enable",
        "order": 2,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 860,
        "wires": [
            [
                "b5d62154f09edf79"
            ]
        ]
    },
    {
        "id": "afac2ae9d3e8f02f",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "50860bfd06fffa7a",
        "name": "",
        "label": "TLM Disable",
        "order": 2,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 900,
        "wires": [
            [
                "59a0bb862787b1a6"
            ]
        ]
    },
    {
        "id": "042b14c374b55f05",
        "type": "ui-number-input",
        "z": "3b521b08f4388c2f",
        "group": "50860bfd06fffa7a",
        "name": "tlmInterval",
        "label": "TLM Interval",
        "order": 0,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "30",
        "step": 1,
        "tooltip": "",
        "delay": 300,
        "passthru": false,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 130,
        "y": 980,
        "wires": [
            [
                "283bee87f27680a3"
            ]
        ]
    },
    {
        "id": "6e9e7dd61283d843",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "50860bfd06fffa7a",
        "name": "",
        "label": "TLM Interval",
        "order": 2,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 940,
        "wires": [
            [
                "e328bd37e42d09ce"
            ]
        ]
    },
    {
        "id": "f085d816c4e62e09",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "TLM States",
        "func": "msg.payload = [\n    {\n        telemetryEnable: msg.payload.telemetryEnable || \"\",\n        telemetryInterval: msg.payload.telemetryInterval || \"\"\n    }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 260,
        "wires": [
            [
                "e87734e6605d5f4d"
            ]
        ]
    },
    {
        "id": "e87734e6605d5f4d",
        "type": "ui-table",
        "z": "3b521b08f4388c2f",
        "group": "87c6d1cd17eff6d5",
        "name": "",
        "label": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": true,
        "showSearch": true,
        "deselect": true,
        "selectionType": "none",
        "columns": [],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "className": "",
        "x": 1270,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "9919dab57debe661",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "Error Log",
        "func": "let errors = flow.get(\"errorLog\") || [];\n\nif (msg.type !== \"ERR\") {\n    return null;\n}\n\nlet newError = {\n    time: msg.time || \"\",\n    error: msg.error || \"\",\n    raw: msg.raw || \"\"\n};\n\nerrors.unshift(newError);\n\n// keep only most recent 50 in memory\nif (errors.length > 50) {\n    errors = errors.slice(0, 50);\n}\n\nflow.set(\"errorLog\", errors);\n\n// only send the new row to the table\nmsg.payload = [newError];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 40,
        "wires": [
            [
                "7a2f7fe3e9362b46"
            ]
        ]
    },
    {
        "id": "7a2f7fe3e9362b46",
        "type": "ui-table",
        "z": "3b521b08f4388c2f",
        "group": "87c6d1cd17eff6d5",
        "name": "",
        "label": "Error Log",
        "order": 0,
        "width": 0,
        "height": 0,
        "maxrows": "10",
        "passthru": false,
        "autocols": true,
        "showSearch": false,
        "deselect": true,
        "selectionType": "none",
        "columns": [],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "append",
        "className": "",
        "x": 1000,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "283bee87f27680a3",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "function 1",
        "func": "let interval = Number(msg.payload);\n\nif (!Number.isFinite(interval) || interval < 1) {\n    return null;\n}\n\nflow.set(\"tlmInterval\", interval);\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "62553b58fa79262f",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send LED TLM Enable",
        "func": "msg.payload = \"SET,LED,TELEMETRY,ENABLE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 760,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "4fd1491d227d1661",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "50860bfd06fffa7a",
        "name": "",
        "label": "LED TLM Enable",
        "order": 2,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 110,
        "y": 760,
        "wires": [
            [
                "62553b58fa79262f"
            ]
        ]
    },
    {
        "id": "893873e9865c78e7",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send LED TLM Disable",
        "func": "msg.payload = \"SET,LED,TELEMETRY,DISABLE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 800,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "0dd4943fbe407ad7",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "50860bfd06fffa7a",
        "name": "",
        "label": "LED TLM Disable",
        "order": 2,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 110,
        "y": 800,
        "wires": [
            [
                "893873e9865c78e7"
            ]
        ]
    },
    {
        "id": "7b54df25ad4ef61f",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract RTC Current Time",
        "func": "msg.payload = msg.payload.rtcCurrentTime || \"\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 340,
        "wires": [
            [
                "e8c0bffef462e56b"
            ]
        ]
    },
    {
        "id": "e8c0bffef462e56b",
        "type": "ui-text",
        "z": "3b521b08f4388c2f",
        "group": "0c10ce94c624bca1",
        "order": 1,
        "width": "3",
        "height": 1,
        "name": "",
        "label": "RTC Time",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1280,
        "y": 340,
        "wires": []
    },
    {
        "id": "c720218d514f0575",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract RTC Sync",
        "func": "msg.payload = msg.payload.rtcSync || \"\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 380,
        "wires": [
            [
                "bd735e5dcb4579f4"
            ]
        ]
    },
    {
        "id": "bd735e5dcb4579f4",
        "type": "ui-text",
        "z": "3b521b08f4388c2f",
        "group": "0c10ce94c624bca1",
        "order": 2,
        "width": "3",
        "height": 1,
        "name": "",
        "label": "Clock Sync",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1290,
        "y": 380,
        "wires": []
    },
    {
        "id": "33792257d24eb50f",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send Get RTC",
        "func": "msg.payload = \"GET,RTC,NONE,NONE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1040,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "df94cdc0a80f63c0",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "50860bfd06fffa7a",
        "name": "",
        "label": "Get RTC",
        "order": 1,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 140,
        "y": 1040,
        "wires": [
            [
                "33792257d24eb50f"
            ]
        ]
    },
    {
        "id": "d85c917cf73e1f60",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send Sync RTC",
        "func": "const iso = new Date().toISOString().replace(/\\.\\d{3}Z$/, \"Z\");\nmsg.payload = \"SET,RTC,CURRENT_TIME,\" + iso + \"\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1080,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "6dd04d34554401c8",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "50860bfd06fffa7a",
        "name": "",
        "label": "Sync RTC",
        "order": 3,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 140,
        "y": 1080,
        "wires": [
            [
                "d85c917cf73e1f60"
            ]
        ]
    },
    {
        "id": "ee79695364ecdd29",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "50860bfd06fffa7a",
        "name": "",
        "label": "Get Battery",
        "order": 3,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 110,
        "y": 1320,
        "wires": [
            [
                "e4b26bb90d0f220e"
            ]
        ]
    },
    {
        "id": "9d15a20c452e946c",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send RTC TLM Enable",
        "func": "msg.payload = \"SET,RTC,TELEMETRY,ENABLE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1120,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "a34f43014263731c",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "50860bfd06fffa7a",
        "name": "",
        "label": "RTC TLM Enable",
        "order": 3,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 110,
        "y": 1120,
        "wires": [
            [
                "9d15a20c452e946c"
            ]
        ]
    },
    {
        "id": "1549be4bc8ec49fe",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send RTC TLM Disable",
        "func": "msg.payload = \"SET,RTC,TELEMETRY,DISABLE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1160,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "6eb3a0a998e2f640",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "50860bfd06fffa7a",
        "name": "",
        "label": "RTC TLM Disable",
        "order": 3,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 110,
        "y": 1160,
        "wires": [
            [
                "1549be4bc8ec49fe"
            ]
        ]
    },
    {
        "id": "aa985b330f623025",
        "type": "ui-table",
        "z": "3b521b08f4388c2f",
        "group": "27f54bb6a6a84aaa",
        "name": "",
        "label": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "maxrows": "100",
        "passthru": false,
        "autocols": true,
        "showSearch": true,
        "deselect": true,
        "selectionType": "none",
        "columns": [],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "append",
        "className": "",
        "x": 670,
        "y": 240,
        "wires": [
            []
        ]
    }
]