ground-station-dashboard/flows/main.json
[
    {
        "id": "3b521b08f4388c2f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7180565ad450ba58",
        "type": "serial-port",
        "name": "usbmodem2101",
        "serialport": "/dev/tty.usbmodem2101",
        "serialbaud": "115200",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "d0f6c0df3d6bbbec",
        "type": "ui-base",
        "name": "MySat Ground Station",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "5b53033ae39ab468",
        "type": "ui-theme",
        "name": "Mission Control Dark",
        "colors": {
            "surface": "#161b22",
            "primary": "#4ea1ff",
            "bgPage": "#0f141a",
            "groupBg": "#161b22",
            "groupOutline": "#2b3542"
        },
        "sizes": {
            "density": "comfortable",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "10px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "8037b6b5da1c3e49",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-serialport": "2.0.3",
            "@flowfuse/node-red-dashboard": "1.30.2"
        }
    },
    {
        "id": "f97e68d451736993",
        "type": "ui-page",
        "name": "Mission Control",
        "ui": "d0f6c0df3d6bbbec",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "5b53033ae39ab468",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "0c10ce94c624bca1",
        "type": "ui-group",
        "name": "General",
        "page": "f97e68d451736993",
        "width": "4",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "50860bfd06fffa7a",
        "type": "ui-group",
        "name": "Battery",
        "page": "f97e68d451736993",
        "width": "6",
        "height": 1,
        "order": 9,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "87c6d1cd17eff6d5",
        "type": "ui-group",
        "name": "Telemetry",
        "page": "f97e68d451736993",
        "width": "6",
        "height": 1,
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "33c8b33051afe822",
        "type": "ui-group",
        "name": "LED System",
        "page": "f97e68d451736993",
        "width": "6",
        "height": "1",
        "order": 5,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "1f22eb0bf52ef7c6",
        "type": "ui-group",
        "name": "RTC",
        "page": "f97e68d451736993",
        "width": "6",
        "height": 1,
        "order": 7,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "a02eb05c11bee1d4",
        "type": "ui-group",
        "name": "GPS",
        "page": "f97e68d451736993",
        "width": 6,
        "height": 1,
        "order": 6,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "eed0c86ba8ee674b",
        "type": "ui-group",
        "name": "Logs",
        "page": "f97e68d451736993",
        "width": "8",
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "d4e48e4db2f9418c",
        "type": "ui-group",
        "name": "THERMAL",
        "page": "f97e68d451736993",
        "width": 6,
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "6b23d8f2d6f14c91",
        "type": "ui-group",
        "name": "IMU",
        "page": "f97e68d451736993",
        "width": 6,
        "height": "7",
        "order": 8,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "f4d4cb7be84240a9",
        "type": "ui-group",
        "name": "ADCS",
        "page": "f97e68d451736993",
        "width": 6,
        "height": "5",
        "order": 9,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "5124fb12bde93c6f",
        "type": "serial in",
        "z": "3b521b08f4388c2f",
        "name": "",
        "serial": "7180565ad450ba58",
        "x": 100,
        "y": 40,
        "wires": [
            [
                "e80ca2965e7ce828"
            ]
        ]
    },
    {
        "id": "a407349444f312cf",
        "type": "serial out",
        "z": "3b521b08f4388c2f",
        "name": "",
        "serial": "7180565ad450ba58",
        "x": 780,
        "y": 980,
        "wires": []
    },
    {
        "id": "e80ca2965e7ce828",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "Main Parser",
        "func": "let line = String(msg.payload).trim();\nif (!line) return null;\n\nlet parts = line.split(\",\");\n\nif (parts.length < 2) return null;\n\nmsg.raw = line;\nmsg.time = parts[0];      // keep as text\nmsg.type = parts[1];\n\nif (msg.type === \"TLM\" && parts.length >= 5) {\n    msg.target = parts[2];\n    msg.parameter = parts[3];\n    msg.value = parts[4];\n}\nelse if (msg.type === \"ACK\" && parts.length >= 4) {\n    msg.target = parts[2];\n    msg.value = parts[3];\n}\nelse if (msg.type === \"ERR\" && parts.length >= 3) {\n    msg.error = parts[2];\n\n    if (parts.length >= 4) {\n        msg.errorContext = parts[3];\n        try {\n            msg.errorContextDecoded = decodeURIComponent(parts[3]);\n        } catch (err) {\n            msg.errorContextDecoded = parts[3];\n        }\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 40,
        "wires": [
            [
                "50ef76a53201094c",
                "a1ea5ba4421bd12a",
                "ef27dc9f7bf52f97",
                "1548f4b860c06079"
            ]
        ]
    },
    {
        "id": "50ef76a53201094c",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "TLM Storage",
        "func": "let state = flow.get(\"satState\") || {};\n\nif (!state.tlm) {\n    state.tlm = {};\n}\nif (!state.lastAck) {\n    state.lastAck = null;\n}\nif (!state.lastErr) {\n    state.lastErr = null;\n}\nif (!state.time) {\n    state.time = null;\n}\n\nif (msg.time) {\n    state.time = msg.time;\n}\n\nif (msg.type === \"TLM\") {\n    if (!msg.target || !msg.parameter) {\n        return null;\n    }\n\n    if (!state.tlm[msg.target]) {\n        state.tlm[msg.target] = {};\n    }\n\n    state.tlm[msg.target][msg.parameter] = {\n        value: msg.value,\n        time: msg.time\n    };\n}\nelse if (msg.type === \"ACK\") {\n    state.lastAck = {\n        target: msg.target || null,\n        value: msg.value || null,\n        time: msg.time || null\n    };\n}\nelse if (msg.type === \"ERR\") {\n    state.lastErr = {\n        error: msg.error || null,\n        context: msg.errorContext || null,\n        contextDecoded: msg.errorContextDecoded || null,\n        time: msg.time || null\n    };\n}\n\nflow.set(\"satState\", state);\n\nmsg.state = state;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 160,
        "wires": [
            [
                "af2be4cc68f6c30d"
            ]
        ]
    },
    {
        "id": "af2be4cc68f6c30d",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "Flatten State",
        "func": "let s = msg.state || {};\nlet tlm = s.tlm || {};\nconst freshnessThresholdMs = 10000;\n\nfunction getValue(target, parameter, fallback = \"\") {\n    if (tlm[target] && tlm[target][parameter]) {\n        return tlm[target][parameter].value;\n    }\n    return fallback;\n}\n\nfunction getTime(target, parameter, fallback = \"\") {\n    if (tlm[target] && tlm[target][parameter]) {\n        return tlm[target][parameter].time;\n    }\n    return fallback;\n}\n\nlet payload = {\n    time: s.time || \"\",\n    freshnessThresholdMs,\n    lastAck: s.lastAck,\n    lastErr: s.lastErr\n};\n\nfunction addField(key, label, target, parameter) {\n    payload[key] = getValue(target, parameter);\n    payload[key + \"Label\"] = label;\n    payload[key + \"Time\"] = getTime(target, parameter);\n}\n\naddField(\"rtcCurrentTime\", \"Current Time\", \"RTC\", \"CURRENT_TIME\");\naddField(\"rtcSync\", \"Clock Sync\", \"RTC\", \"SYNC\");\naddField(\"rtcTelemetry\", \"TLM\", \"RTC\", \"TELEMETRY\");\n\naddField(\"ledEnable\", \"Enabled\", \"LED\", \"ENABLE\");\naddField(\"ledState\", \"State\", \"LED\", \"STATE\");\naddField(\"ledColor\", \"Color\", \"LED\", \"COLOR\");\naddField(\"ledTelemetry\", \"TLM\", \"LED\", \"TELEMETRY\");\n\naddField(\"telemetryEnable\", \"Enable\", \"TELEMETRY\", \"ENABLE\");\naddField(\"telemetryTelemetry\", \"TLM\", \"TELEMETRY\", \"TELEMETRY\");\naddField(\"telemetryInterval\", \"Interval (s)\", \"TELEMETRY\", \"INTERVAL_S\");\n\naddField(\"batteryTelemetry\", \"Battery Telemetry\", \"BATTERY\", \"TELEMETRY\");\naddField(\"batteryAvailable\", \"Battery Available\", \"BATTERY\", \"AVAILABLE\");\naddField(\"chargeCurrentA\", \"Charge Current (A)\", \"BATTERY\", \"CHARGE_CURRENT_A\");\naddField(\"chargeVoltageV\", \"Charge Voltage (V)\", \"BATTERY\", \"CHARGE_VOLTAGE_V\");\naddField(\"chargePercentP\", \"Charge Percent (%)\", \"BATTERY\", \"CHARGE_PERCENT_P\");\naddField(\"batteryVoltage\", \"Battery Voltage (V)\", \"BATTERY\", \"VOLTAGE_V\");\n\naddField(\"statusHeartbeatValue\", \"Heartbeat Counter\", \"STATUS\", \"HEARTBEAT_N\");\n\naddField(\"gpsEnable\", \"Enabled\", \"GPS\", \"ENABLE\");\naddField(\"gpsAvailable\", \"Available\", \"GPS\", \"AVAILABLE\");\naddField(\"gpsLatitude\", \"Latitude\", \"GPS\", \"LATITUDE_D\");\naddField(\"gpsLongitude\", \"Longitude\", \"GPS\", \"LONGITUDE_D\");\naddField(\"gpsAltitude\", \"Altitude (m)\", \"GPS\", \"ALTITUDE_M\");\naddField(\"gpsSpeed\", \"Speed (km/h)\", \"GPS\", \"SPEED_KPH\");\naddField(\"gpsSatellites\", \"Satellites\", \"GPS\", \"SATELLITES_N\");\naddField(\"gpsTelemetry\", \"TLM\", \"GPS\", \"TELEMETRY\");\n\naddField(\"thermalEnable\", \"Enabled\", \"THERMAL\", \"ENABLE\");\naddField(\"thermalAvailable\", \"Available\", \"THERMAL\", \"AVAILABLE\");\naddField(\"thermalTemperatureC\", \"Temperature (°C)\", \"THERMAL\", \"TEMPERATURE_C\");\naddField(\"thermalHumidityP\", \"Humidity (%RH)\", \"THERMAL\", \"HUMIDITY_P\");\naddField(\"thermalTelemetry\", \"TLM\", \"THERMAL\", \"TELEMETRY\");\n\naddField(\"imuEnable\", \"Enabled\", \"IMU\", \"ENABLE\");\naddField(\"imuAvailable\", \"Available\", \"IMU\", \"AVAILABLE\");\naddField(\"imuXMs2\", \"X (m/s²)\", \"IMU\", \"X_MS2\");\naddField(\"imuYMs2\", \"Y (m/s²)\", \"IMU\", \"Y_MS2\");\naddField(\"imuZMs2\", \"Z (m/s²)\", \"IMU\", \"Z_MS2\");\naddField(\"imuGyroXDps\", \"Gyro X (dps)\", \"IMU\", \"GYRO_X_DPS\");\naddField(\"imuGyroYDps\", \"Gyro Y (dps)\", \"IMU\", \"GYRO_Y_DPS\");\naddField(\"imuGyroZDps\", \"Gyro Z (dps)\", \"IMU\", \"GYRO_Z_DPS\");\naddField(\"imuMagXUt\", \"Mag X (uT)\", \"IMU\", \"MAG_X_UT\");\naddField(\"imuMagYUt\", \"Mag Y (uT)\", \"IMU\", \"MAG_Y_UT\");\naddField(\"imuMagZUt\", \"Mag Z (uT)\", \"IMU\", \"MAG_Z_UT\");\naddField(\"imuHeadingDeg\", \"Heading (deg)\", \"IMU\", \"HEADING_DEG\");\naddField(\"imuTelemetry\", \"TLM\", \"IMU\", \"TELEMETRY\");\n\naddField(\"adcsEnable\", \"Enabled\", \"ADCS\", \"ENABLE\");\naddField(\"adcsAvailable\", \"Available\", \"ADCS\", \"AVAILABLE\");\naddField(\"adcsRollDeg\", \"Roll (deg)\", \"ADCS\", \"ROLL_DEG\");\naddField(\"adcsPitchDeg\", \"Pitch (deg)\", \"ADCS\", \"PITCH_DEG\");\naddField(\"adcsYawRateDps\", \"Yaw Rate (dps)\", \"ADCS\", \"YAW_RATE_DPS\");\naddField(\"adcsTelemetry\", \"TLM\", \"ADCS\", \"TELEMETRY\");\n\nmsg.payload = payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 520,
        "wires": [
            [
                "e801888fd08475bd",
                "0b2ea32d4b67bf0d",
                "40b71589d101899b",
                "ce81e4884bf62a13",
                "7b54df25ad4ef61f",
                "909594e5ba8c37c2",
                "fe6c806c0622a520",
                "93d87df78233859c",
                "a1a18baa0c4bd1de",
                "baab0a7f141ded66",
                "c1a5e6f4b9d24731",
                "5fb2251db7cd4cf2",
                "a2693ad274244fd6",
                "ce3a285745eb4602",
                "1adbe36cd8830cab",
                "9b67958256975ec3",
                "40789d6517ba6d78",
                "479b9525c978f50c",
                "f2470d9d60f7b199"
            ]
        ]
    },
    {
        "id": "e801888fd08475bd",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract Telemetry Summary",
        "func": "function item(label, value, time) {\n    return {\n        label: label || \"\",\n        value: value || \"\",\n        time: time || \"\"\n    };\n}\n\nmsg.payload = {\n    maxAgeMs: msg.payload.freshnessThresholdMs || 30000,\n    statusItems: [\n        item(msg.payload.telemetryEnableLabel, msg.payload.telemetryEnable, msg.payload.telemetryEnableTime),\n        item(msg.payload.telemetryTelemetryLabel, msg.payload.telemetryTelemetry, msg.payload.telemetryTelemetryTime),\n        item(msg.payload.telemetryIntervalLabel, msg.payload.telemetryInterval, msg.payload.telemetryIntervalTime)\n    ],\n    metricRows: []\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 400,
        "wires": [
            [
                "0909b96a0a73a827"
            ]
        ]
    },
    {
        "id": "0b2ea32d4b67bf0d",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract Last ACK",
        "func": "if (!msg.payload.lastAck) {\n    msg.payload = \"\";\n    return msg;\n}\nmsg.payload = [msg.payload.lastAck.time, msg.payload.lastAck.target, msg.payload.lastAck.value]\n    .filter(v => v !== null && v !== undefined && v !== \"\")\n    .join(\" | \");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 300,
        "wires": [
            [
                "6d5439a9dd0319e8"
            ]
        ]
    },
    {
        "id": "6d5439a9dd0319e8",
        "type": "ui-text",
        "z": "3b521b08f4388c2f",
        "group": "0c10ce94c624bca1",
        "order": 3,
        "width": "4",
        "height": 1,
        "name": "",
        "label": "Last ACK",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1320,
        "y": 300,
        "wires": []
    },
    {
        "id": "40b71589d101899b",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract Last ERR",
        "func": "if (!msg.payload.lastErr) {\n    msg.payload = \"\";\n    return msg;\n}\nmsg.payload = [\n    msg.payload.lastErr.time,\n    msg.payload.lastErr.error,\n    msg.payload.lastErr.contextDecoded\n]\n    .filter(v => v !== null && v !== undefined && v !== \"\")\n    .join(\" | \");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 340,
        "wires": [
            [
                "4a17bc77ddbdb063"
            ]
        ]
    },
    {
        "id": "4a17bc77ddbdb063",
        "type": "ui-text",
        "z": "3b521b08f4388c2f",
        "group": "0c10ce94c624bca1",
        "order": 4,
        "width": "4",
        "height": 1,
        "name": "",
        "label": "Last ERR",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1320,
        "y": 340,
        "wires": []
    },
    {
        "id": "9331f758d9c225ed",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send Ping",
        "func": "msg.payload = \"PING,NONE,NONE,NONE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 260,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "705d00e7e4f34d52",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send Get LED",
        "func": "msg.payload = \"GET,LED,NONE,NONE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 440,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "e4b26bb90d0f220e",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send Get Battery",
        "func": "msg.payload = \"GET,BATTERY,NONE,NONE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1380,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "40a56bcaa8abc94f",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send LED Enable",
        "func": "msg.payload = \"SET,LED,ENABLE,TRUE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 480,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "9c4c9523287dbc60",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send LED Disable",
        "func": "msg.payload = \"SET,LED,ENABLE,FALSE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 520,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "097e0d32dd4bc1f9",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send LED ON",
        "func": "msg.payload = \"SET,LED,STATE,ON\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 560,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "49f5d0774b720662",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send LED OFF",
        "func": "msg.payload = \"SET,LED,STATE,OFF\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 600,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "b5d62154f09edf79",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send TLM Enable",
        "func": "msg.payload = \"SET,TELEMETRY,ENABLE,TRUE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 900,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "59a0bb862787b1a6",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send TLM Disable",
        "func": "msg.payload = \"SET,TELEMETRY,ENABLE,FALSE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 860,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "76ba83bf503fa602",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "0c10ce94c624bca1",
        "name": "",
        "label": "Ping",
        "order": 5,
        "width": "4",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 190,
        "y": 260,
        "wires": [
            [
                "9331f758d9c225ed"
            ]
        ]
    },
    {
        "id": "ce81e4884bf62a13",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract Charge Percent gauge",
        "func": "msg.payload = Number(msg.payload.chargePercentP || 0);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 800,
        "wires": [
            [
                "59e5d09d9ab69709"
            ]
        ]
    },
    {
        "id": "59e5d09d9ab69709",
        "type": "ui-gauge",
        "z": "3b521b08f4388c2f",
        "name": "Charge Percent Gauge",
        "group": "50860bfd06fffa7a",
        "order": 10,
        "value": "payload",
        "valueType": "msg",
        "width": 6,
        "height": 4,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Charge Percent",
        "alwaysShowTitle": false,
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#d32f2f",
                "text": "",
                "textType": "value"
            },
            {
                "from": "20",
                "color": "#fbc02d",
                "text": "",
                "textType": "value"
            },
            {
                "from": "50",
                "color": "#388e3c",
                "text": "",
                "textType": "value"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": "20",
        "sizeGap": "",
        "sizeKeyThickness": "",
        "className": "",
        "x": 1360,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "09db1906c0e09412",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send Set LED Color",
        "func": "let color = String(msg.payload || \"\").toUpperCase();\nif (![\"RED\", \"GREEN\", \"BLUE\"].includes(color)) {\n    return null;\n}\nmsg.payload = \"SET,LED,COLOR,\" + color + \"\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 640,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "ec18fbfcdaab42ea",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "33c8b33051afe822",
        "name": "",
        "label": "Poll",
        "order": 2,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "purple",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 190,
        "y": 440,
        "wires": [
            [
                "705d00e7e4f34d52"
            ]
        ]
    },
    {
        "id": "1f22e87c02b58372",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "33c8b33051afe822",
        "name": "",
        "label": "Enable",
        "order": 3,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "#2e7d32",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 190,
        "y": 480,
        "wires": [
            [
                "40a56bcaa8abc94f"
            ]
        ]
    },
    {
        "id": "6d9e42b83f4d38cb",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "33c8b33051afe822",
        "name": "",
        "label": "Disable",
        "order": 4,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "#c62828",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 180,
        "y": 520,
        "wires": [
            [
                "9c4c9523287dbc60"
            ]
        ]
    },
    {
        "id": "f523164eac227171",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "33c8b33051afe822",
        "name": "",
        "label": "On",
        "order": 7,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "#7cb342",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 190,
        "y": 560,
        "wires": [
            [
                "097e0d32dd4bc1f9"
            ]
        ]
    },
    {
        "id": "0d886fe807b1ca8e",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "33c8b33051afe822",
        "name": "",
        "label": "Off",
        "order": 8,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "#ff7043",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 190,
        "y": 600,
        "wires": [
            [
                "49f5d0774b720662"
            ]
        ]
    },
    {
        "id": "83580219a5452c9f",
        "type": "ui-dropdown",
        "z": "3b521b08f4388c2f",
        "group": "33c8b33051afe822",
        "name": "LED Color Option",
        "label": "Set LED Color",
        "tooltip": "",
        "order": 9,
        "width": "3",
        "height": "1",
        "passthru": false,
        "multiple": false,
        "chips": false,
        "clearable": false,
        "options": [
            {
                "label": "Red",
                "value": "RED",
                "type": "str"
            },
            {
                "label": "Green",
                "value": "GREEN",
                "type": "str"
            },
            {
                "label": "Blue",
                "value": "BLUE",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": true,
        "msgTrigger": "onChange",
        "x": 150,
        "y": 640,
        "wires": [
            [
                "09db1906c0e09412"
            ]
        ]
    },
    {
        "id": "c3c007d07dddcc83",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "87c6d1cd17eff6d5",
        "name": "",
        "label": "Disable",
        "order": 4,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "#c62828",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 180,
        "y": 860,
        "wires": [
            [
                "59a0bb862787b1a6"
            ]
        ]
    },
    {
        "id": "afac2ae9d3e8f02f",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "87c6d1cd17eff6d5",
        "name": "",
        "label": "Enable",
        "order": 3,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "#2e7d32",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 190,
        "y": 900,
        "wires": [
            [
                "b5d62154f09edf79"
            ]
        ]
    },
    {
        "id": "042b14c374b55f05",
        "type": "ui-number-input",
        "z": "3b521b08f4388c2f",
        "group": "87c6d1cd17eff6d5",
        "name": "tlmInterval",
        "label": "Set Interval",
        "order": 7,
        "width": "6",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "120",
        "step": 1,
        "tooltip": "",
        "delay": 300,
        "passthru": false,
        "sendOnDelay": false,
        "sendOnBlur": false,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 170,
        "y": 1020,
        "wires": [
            [
                "283bee87f27680a3"
            ]
        ]
    },
    {
        "id": "283bee87f27680a3",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send TLM Interval",
        "func": "let interval = Number(msg.payload);\n\nif (!Number.isFinite(interval) || interval < 1) {\n    return null;\n}\n\nflow.set(\"tlmInterval\", interval);\n\nmsg.payload = \"SET,TELEMETRY,INTERVAL_S,\" + interval + \"\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1020,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "62553b58fa79262f",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send LED TLM Enable",
        "func": "msg.payload = \"SET,LED,TELEMETRY,ENABLE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 680,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "4fd1491d227d1661",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "33c8b33051afe822",
        "name": "",
        "label": "TLM On",
        "order": 5,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "#66bb6a",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 180,
        "y": 680,
        "wires": [
            [
                "62553b58fa79262f"
            ]
        ]
    },
    {
        "id": "893873e9865c78e7",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send LED TLM Disable",
        "func": "msg.payload = \"SET,LED,TELEMETRY,DISABLE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 720,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "0dd4943fbe407ad7",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "33c8b33051afe822",
        "name": "",
        "label": "TLM Off",
        "order": 6,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "#ef5350",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 180,
        "y": 720,
        "wires": [
            [
                "893873e9865c78e7"
            ]
        ]
    },
    {
        "id": "7b54df25ad4ef61f",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract RTC Summary",
        "func": "function item(label, value, time) {\n    return {\n        label: label || \"\",\n        value: value || \"\",\n        time: time || \"\"\n    };\n}\n\nmsg.payload = {\n    maxAgeMs: msg.payload.freshnessThresholdMs || 30000,\n    statusItems: [\n        item(msg.payload.rtcCurrentTimeLabel, msg.payload.rtcCurrentTime, msg.payload.rtcCurrentTimeTime),\n        item(msg.payload.rtcSyncLabel, msg.payload.rtcSync, msg.payload.rtcSyncTime),\n        item(msg.payload.rtcTelemetryLabel, msg.payload.rtcTelemetry, msg.payload.rtcTelemetryTime)\n    ],\n    metricRows: []\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 460,
        "wires": [
            [
                "bd735e5dcb4579f4"
            ]
        ]
    },
    {
        "id": "bd735e5dcb4579f4",
        "type": "ui-template",
        "z": "3b521b08f4388c2f",
        "group": "1f22eb0bf52ef7c6",
        "page": "",
        "ui": "",
        "name": "RTC Summary",
        "order": 1,
        "width": "6",
        "height": 2,
        "head": "",
        "format": "<template>\n  <div class=\"summary-card\">\n    <div class=\"summary-grid summary-grid-status-3\">\n      <div v-for=\"item in statusItems\" :key=\"item.label\" class=\"summary-item freshness-widget\">\n        <div class=\"freshness-label\">{{ item.label }}</div>\n        <div class=\"freshness-value\" :class=\"valueClass(item)\">{{ item.value || ' ' }}</div>\n      </div>\n    </div>\n  </div>\n</template>\n\n<script>\nexport default {\n  data() {\n    return {\n      nowMs: Date.now(),\n      timerId: null\n    };\n  },\n  computed: {\n    payloadData() {\n      return this.msg && this.msg.payload ? this.msg.payload : {};\n    },\n    maxAgeMs() {\n      return this.payloadData.maxAgeMs || 30000;\n    },\n    statusItems() {\n      return this.payloadData.statusItems || [];\n    }\n  },\n  methods: {\n    receivedMs(item) {\n      if (!item || !item.time) {\n        return null;\n      }\n\n      const parsed = Date.parse(item.time);\n      return Number.isNaN(parsed) ? null : parsed;\n    },\n    isFresh(item) {\n      if (!item || !item.value) {\n        return false;\n      }\n\n      const receivedMs = this.receivedMs(item);\n      if (receivedMs === null) {\n        return false;\n      }\n\n      return (this.nowMs - receivedMs) <= this.maxAgeMs;\n    },\n    valueClass(item) {\n      if (!item || !item.value) {\n        return 'freshness-empty';\n      }\n\n      return this.isFresh(item) ? 'freshness-fresh' : 'freshness-stale';\n    }\n  },\n  mounted() {\n    this.timerId = setInterval(() => {\n      this.nowMs = Date.now();\n    }, 1000);\n  },\n  unmounted() {\n    if (this.timerId) {\n      clearInterval(this.timerId);\n    }\n  }\n};\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1340,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "33792257d24eb50f",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send Get RTC",
        "func": "msg.payload = \"GET,RTC,NONE,NONE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1120,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "df94cdc0a80f63c0",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "1f22eb0bf52ef7c6",
        "name": "",
        "label": "Poll",
        "order": 2,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "purple",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 190,
        "y": 1120,
        "wires": [
            [
                "33792257d24eb50f"
            ]
        ]
    },
    {
        "id": "d85c917cf73e1f60",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send Sync RTC Local",
        "func": "const iso = new Date().toISOString().replace(/\\.\\d{3}Z$/, \"Z\");\nmsg.payload = \"SET,RTC,CURRENT_TIME,\" + iso + \"\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1160,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "6dd04d34554401c8",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "1f22eb0bf52ef7c6",
        "name": "",
        "label": "Sync Local",
        "order": 3,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "#42a5f5",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 170,
        "y": 1160,
        "wires": [
            [
                "d85c917cf73e1f60"
            ]
        ]
    },
    {
        "id": "ee79695364ecdd29",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "50860bfd06fffa7a",
        "name": "",
        "label": "Get Battery",
        "order": 1,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "purple",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 170,
        "y": 1380,
        "wires": [
            [
                "e4b26bb90d0f220e"
            ]
        ]
    },
    {
        "id": "9d15a20c452e946c",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send RTC TLM Enable",
        "func": "msg.payload = \"SET,RTC,TELEMETRY,ENABLE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1240,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "a34f43014263731c",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "1f22eb0bf52ef7c6",
        "name": "",
        "label": "TLM On",
        "order": 5,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "#66bb6a",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 180,
        "y": 1240,
        "wires": [
            [
                "9d15a20c452e946c"
            ]
        ]
    },
    {
        "id": "1549be4bc8ec49fe",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send RTC TLM Disable",
        "func": "msg.payload = \"SET,RTC,TELEMETRY,DISABLE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1280,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "6eb3a0a998e2f640",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "1f22eb0bf52ef7c6",
        "name": "",
        "label": "TLM Off",
        "order": 6,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "#ef5350",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 180,
        "y": 1280,
        "wires": [
            [
                "1549be4bc8ec49fe"
            ]
        ]
    },
    {
        "id": "a1ea5ba4421bd12a",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "Packet Log",
        "func": "let packetLog = flow.get(\"packetLog\") || [];\n\npacketLog.unshift({\n    time: msg.time || \"\",\n    packetType: msg.type || \"\",\n    target: msg.target || \"\",\n    parameter: msg.parameter || \"\",\n    value: msg.value || msg.error || \"\",\n    raw: msg.raw || \"\"\n});\n\npacketLog = packetLog.slice(0, 13);\nflow.set(\"packetLog\", packetLog);\n\nreturn {\n    payload: {\n        rows: packetLog\n    }\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 40,
        "wires": [
            [
                "1a31ee3e2f5fbd84"
            ]
        ]
    },
    {
        "id": "1a31ee3e2f5fbd84",
        "type": "ui-template",
        "z": "3b521b08f4388c2f",
        "group": "eed0c86ba8ee674b",
        "page": "",
        "ui": "",
        "name": "PacketLogTemplateWidget",
        "order": 3,
        "width": "8",
        "height": "5",
        "head": "",
        "format": "<template>\n  <v-card variant=\"tonal\" class=\"packet-log-card\">\n    <v-card-title>All Packet Log</v-card-title>\n    <v-card-text class=\"packet-log-body\">\n      <div v-if=\"!(msg.payload && msg.payload.rows && msg.payload.rows.length)\" class=\"packet-log-empty\">\n        No packets received yet.\n      </div>\n      <div v-else class=\"packet-log-list\">\n        <div\n          v-for=\"(row, index) in msg.payload.rows\"\n          :key=\"index\"\n          class=\"packet-log-row\"\n        >{{ row.raw || '-' }}</div>\n      </div>\n    </v-card-text>\n  </v-card>\n</template>\n\n<style>\n  .packet-log-card {\n    height: 100%;\n  }\n\n  .packet-log-body {\n    padding-top: 0;\n  }\n\n  .packet-log-list {\n    max-height: 26rem;\n    overflow-y: auto;\n    font-family: monospace;\n    line-height: 1.2;\n  }\n\n  .packet-log-row {\n    margin: 0;\n    padding: 0;\n    white-space: pre-wrap;\n    word-break: break-word;\n    font-size: 0.75rem;\n  }\n\n  .packet-log-empty {\n    color: rgba(0, 0, 0, 0.6);\n    font-size: 0.75rem;\n  }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1340,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "2be552e6b24cceb2",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send Battery TLM Enable",
        "func": "msg.payload = \"SET,BATTERY,TELEMETRY,ENABLE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1420,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "2692c008f64faffb",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "50860bfd06fffa7a",
        "name": "",
        "label": "Batt TLM Enable",
        "order": 4,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "green",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 150,
        "y": 1420,
        "wires": [
            [
                "2be552e6b24cceb2"
            ]
        ]
    },
    {
        "id": "f4a1656cb87162e3",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send RTC TLM Disable",
        "func": "msg.payload = \"SET,BATTERY,TELEMETRY,DISABLE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1460,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "e378cf0c2b6b2054",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "50860bfd06fffa7a",
        "name": "",
        "label": "Batt TLM Disable",
        "order": 2,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "red",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 150,
        "y": 1460,
        "wires": [
            [
                "f4a1656cb87162e3"
            ]
        ]
    },
    {
        "id": "ef27dc9f7bf52f97",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "Error Log",
        "func": "if (msg.type !== \"ERR\") {\n    return null;\n}\n\nlet errorLog = flow.get(\"errorLog\") || [];\n\nerrorLog.unshift({\n    raw: msg.raw || \"\"\n});\n\nerrorLog = errorLog.slice(0, 6);\nflow.set(\"errorLog\", errorLog);\n\nreturn {\n    payload: {\n        rows: errorLog\n    }\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 80,
        "wires": [
            [
                "bc0f698e4df51464"
            ]
        ]
    },
    {
        "id": "bc0f698e4df51464",
        "type": "ui-template",
        "z": "3b521b08f4388c2f",
        "group": "eed0c86ba8ee674b",
        "page": "",
        "ui": "",
        "name": "ErrorLogTemplateWidget",
        "order": 2,
        "width": "4",
        "height": "3",
        "head": "",
        "format": "<template>\n  <v-card variant=\"tonal\" class=\"error-log-card\">\n    <v-card-title>ERR Log</v-card-title>\n    <v-card-text class=\"error-log-body\">\n      <div v-if=\"!(msg.payload && msg.payload.rows && msg.payload.rows.length)\" class=\"error-log-empty\">\n        No errors received yet.\n      </div>\n      <div v-else class=\"error-log-list\">\n        <div\n          v-for=\"(row, index) in msg.payload.rows\"\n          :key=\"index\"\n          class=\"error-log-row\"\n        >{{ row.raw || '-' }}</div>\n      </div>\n    </v-card-text>\n  </v-card>\n</template>\n\n<style>\n  .error-log-card {\n    height: 100%;\n    background: rgba(160, 32, 32, 0.22);\n  }\n\n  .error-log-body {\n    padding-top: 0;\n  }\n\n  .error-log-list {\n    max-height: 26rem;\n    overflow-y: auto;\n    font-family: monospace;\n    line-height: 1.2;\n  }\n\n  .error-log-row {\n    margin: 0;\n    padding: 0;\n    white-space: pre-wrap;\n    word-break: break-word;\n    font-size: 0.75rem;\n  }\n\n  .error-log-empty {\n    color: rgba(0, 0, 0, 0.6);\n    font-size: 0.75rem;\n  }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1330,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "1548f4b860c06079",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "ACK Log",
        "func": "if (msg.type !== \"ACK\") {\n    return null;\n}\n\nlet ackLog = flow.get(\"ackLog\") || [];\n\nackLog.unshift({\n    raw: msg.raw || \"\"\n});\n\nackLog = ackLog.slice(0, 6);\nflow.set(\"ackLog\", ackLog);\n\nreturn {\n    payload: {\n        rows: ackLog\n    }\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 120,
        "wires": [
            [
                "c17a9b5adfd13f45"
            ]
        ]
    },
    {
        "id": "c17a9b5adfd13f45",
        "type": "ui-template",
        "z": "3b521b08f4388c2f",
        "group": "eed0c86ba8ee674b",
        "page": "",
        "ui": "",
        "name": "AckLogTemplateWidget",
        "order": 1,
        "width": "4",
        "height": "3",
        "head": "",
        "format": "<template>\n  <v-card variant=\"tonal\" class=\"ack-log-card\">\n    <v-card-title>ACK Log</v-card-title>\n    <v-card-text class=\"ack-log-body\">\n      <div v-if=\"!(msg.payload && msg.payload.rows && msg.payload.rows.length)\" class=\"ack-log-empty\">\n        No acknowledgements received yet.\n      </div>\n      <div v-else class=\"ack-log-list\">\n        <div\n          v-for=\"(row, index) in msg.payload.rows\"\n          :key=\"index\"\n          class=\"ack-log-row\"\n        >{{ row.raw || '-' }}</div>\n      </div>\n    </v-card-text>\n  </v-card>\n</template>\n\n<style>\n  .ack-log-card {\n    height: 100%;\n    background: rgba(32, 96, 48, 0.24);\n  }\n\n  .ack-log-body {\n    padding-top: 0;\n  }\n\n  .ack-log-list {\n    max-height: 26rem;\n    overflow-y: auto;\n    font-family: monospace;\n    line-height: 1.2;\n  }\n\n  .ack-log-row {\n    margin: 0;\n    padding: 0;\n    white-space: pre-wrap;\n    word-break: break-word;\n    font-size: 0.75rem;\n  }\n\n  .ack-log-empty {\n    color: rgba(0, 0, 0, 0.6);\n    font-size: 0.75rem;\n  }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1330,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "0370a1a51410027a",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "custCommand",
        "func": "let command = String(msg.payload) + \"\\n\";\n\nflow.set(\"custCommand\", command);\n\nmsg.payload = command;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 380,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "3d4325c0033b1940",
        "type": "ui-text-input",
        "z": "3b521b08f4388c2f",
        "group": "0c10ce94c624bca1",
        "name": "custCommand",
        "label": "Custom Command",
        "order": 8,
        "width": "4",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": false,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 160,
        "y": 380,
        "wires": [
            [
                "0370a1a51410027a"
            ]
        ]
    },
    {
        "id": "0909b96a0a73a827",
        "type": "ui-template",
        "z": "3b521b08f4388c2f",
        "group": "87c6d1cd17eff6d5",
        "page": "",
        "ui": "",
        "name": "Telemetry Summary",
        "order": 1,
        "width": "6",
        "height": 2,
        "head": "",
        "format": "<template>\n  <div class=\"summary-card\">\n    <div class=\"summary-grid summary-grid-status-3\">\n      <div v-for=\"item in statusItems\" :key=\"item.label\" class=\"summary-item freshness-widget\">\n        <div class=\"freshness-label\">{{ item.label }}</div>\n        <div class=\"freshness-value\" :class=\"valueClass(item)\">{{ item.value || ' ' }}</div>\n      </div>\n    </div>\n  </div>\n</template>\n\n<script>\nexport default {\n  data() {\n    return {\n      nowMs: Date.now(),\n      timerId: null\n    };\n  },\n  computed: {\n    payloadData() {\n      return this.msg && this.msg.payload ? this.msg.payload : {};\n    },\n    maxAgeMs() {\n      return this.payloadData.maxAgeMs || 30000;\n    },\n    statusItems() {\n      return this.payloadData.statusItems || [];\n    }\n  },\n  methods: {\n    receivedMs(item) {\n      if (!item || !item.time) {\n        return null;\n      }\n\n      const parsed = Date.parse(item.time);\n      return Number.isNaN(parsed) ? null : parsed;\n    },\n    isFresh(item) {\n      if (!item || !item.value) {\n        return false;\n      }\n\n      const receivedMs = this.receivedMs(item);\n      if (receivedMs === null) {\n        return false;\n      }\n\n      return (this.nowMs - receivedMs) <= this.maxAgeMs;\n    },\n    valueClass(item) {\n      if (!item || !item.value) {\n        return 'freshness-empty';\n      }\n\n      return this.isFresh(item) ? 'freshness-fresh' : 'freshness-stale';\n    }\n  },\n  mounted() {\n    this.timerId = setInterval(() => {\n      this.nowMs = Date.now();\n    }, 1000);\n  },\n  unmounted() {\n    if (this.timerId) {\n      clearInterval(this.timerId);\n    }\n  }\n};\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1360,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "ae52786b457f50e3",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send TLM Self Enable",
        "func": "msg.payload = \"SET,TELEMETRY,TELEMETRY,ENABLE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 940,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "ca36fd9b245b023d",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "87c6d1cd17eff6d5",
        "name": "",
        "label": "TLM On",
        "order": 5,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "#66bb6a",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 180,
        "y": 940,
        "wires": [
            [
                "ae52786b457f50e3"
            ]
        ]
    },
    {
        "id": "c3309c0c60ec49bd",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send TLM Self Disable",
        "func": "msg.payload = \"SET,TELEMETRY,TELEMETRY,DISABLE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 980,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "cc279f78c4911bdf",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "87c6d1cd17eff6d5",
        "name": "",
        "label": "TLM Off",
        "order": 6,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "#ef5350",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 180,
        "y": 980,
        "wires": [
            [
                "c3309c0c60ec49bd"
            ]
        ]
    },
    {
        "id": "2e82d278f9c70970",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send Get TLM",
        "func": "msg.payload = \"GET,TELEMETRY,NONE,NONE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 820,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "295e2193fc2d2416",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "87c6d1cd17eff6d5",
        "name": "",
        "label": "Poll",
        "order": 2,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "purple",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 190,
        "y": 820,
        "wires": [
            [
                "2e82d278f9c70970"
            ]
        ]
    },
    {
        "id": "909594e5ba8c37c2",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract statusHeartbeat Value",
        "func": "msg.payload = {\n    label: msg.payload.statusHeartbeatValueLabel || \"\",\n    value: msg.payload.statusHeartbeatValue || \"\",\n    time: msg.payload.statusHeartbeatValueTime || \"\",\n    maxAgeMs: msg.payload.freshnessThresholdMs || 30000\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 240,
        "wires": [
            [
                "9ba63acfcdb06bb0"
            ]
        ]
    },
    {
        "id": "9ba63acfcdb06bb0",
        "type": "ui-template",
        "z": "3b521b08f4388c2f",
        "group": "0c10ce94c624bca1",
        "page": "",
        "ui": "",
        "name": "Heartbeat Counter Value",
        "order": 2,
        "width": "4",
        "height": 1,
        "head": "",
        "format": "<template>\n  <div class=\"freshness-widget\">\n    <div class=\"freshness-label\">{{ displayLabel }}</div>\n    <div class=\"freshness-value\" :class=\"valueClass\">{{ displayValue }}</div>\n  </div>\n</template>\n\n<script>\nexport default {\n  data() { return { nowMs: Date.now(), timerId: null }; },\n  computed: {\n    payloadData() { return this.msg && this.msg.payload ? this.msg.payload : {}; },\n    displayLabel() { return this.payloadData.label || ''; },\n    displayValue() { return this.payloadData.value || ''; },\n    maxAgeMs() { return this.payloadData.maxAgeMs || 30000; },\n    receivedMs() { const t = this.payloadData.time; if (!t) return null; const p = Date.parse(t); return Number.isNaN(p) ? null : p; },\n    isFresh() { if (!this.displayValue || this.receivedMs === null) return false; return (this.nowMs - this.receivedMs) <= this.maxAgeMs; },\n    valueClass() { if (!this.displayValue) return 'freshness-empty'; return this.isFresh ? 'freshness-fresh' : 'freshness-stale'; }\n  },\n  mounted() { this.timerId = setInterval(() => { this.nowMs = Date.now(); }, 1000); },\n  unmounted() { if (this.timerId) { clearInterval(this.timerId); } }\n};\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1370,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "fe6c806c0622a520",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract statusHeartbeat Time",
        "func": "msg.payload = {\n    label: \"Last Heartbeat\",\n    value: msg.payload.statusHeartbeatValueTime || \"\",\n    time: msg.payload.statusHeartbeatValueTime || \"\",\n    maxAgeMs: msg.payload.freshnessThresholdMs || 30000\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 200,
        "wires": [
            [
                "eab9f7b01a04c458"
            ]
        ]
    },
    {
        "id": "eab9f7b01a04c458",
        "type": "ui-template",
        "z": "3b521b08f4388c2f",
        "group": "0c10ce94c624bca1",
        "page": "",
        "ui": "",
        "name": "Last Heartbeat",
        "order": 1,
        "width": "4",
        "height": 1,
        "head": "",
        "format": "<template>\n  <div class=\"freshness-widget\">\n    <div class=\"freshness-label\">{{ displayLabel }}</div>\n    <div class=\"freshness-value\" :class=\"valueClass\">{{ displayValue }}</div>\n  </div>\n</template>\n\n<script>\nexport default {\n  data() { return { nowMs: Date.now(), timerId: null }; },\n  computed: {\n    payloadData() { return this.msg && this.msg.payload ? this.msg.payload : {}; },\n    displayLabel() { return this.payloadData.label || ''; },\n    displayValue() { return this.payloadData.value || ''; },\n    maxAgeMs() { return this.payloadData.maxAgeMs || 30000; },\n    receivedMs() { const t = this.payloadData.time; if (!t) return null; const p = Date.parse(t); return Number.isNaN(p) ? null : p; },\n    isFresh() { if (!this.displayValue || this.receivedMs === null) return false; return (this.nowMs - this.receivedMs) <= this.maxAgeMs; },\n    valueClass() { if (!this.displayValue) return 'freshness-empty'; return this.isFresh ? 'freshness-fresh' : 'freshness-stale'; }\n  },\n  mounted() { this.timerId = setInterval(() => { this.nowMs = Date.now(); }, 1000); },\n  unmounted() { if (this.timerId) { clearInterval(this.timerId); } }\n};\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1340,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "93d87df78233859c",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract LED Summary",
        "func": "function item(label, value, time) {\n    return {\n        label: label || \"\",\n        value: value || \"\",\n        time: time || \"\"\n    };\n}\n\nmsg.payload = {\n    maxAgeMs: msg.payload.freshnessThresholdMs || 30000,\n    statusItems: [\n        item(msg.payload.ledEnableLabel, msg.payload.ledEnable, msg.payload.ledEnableTime),\n        item(msg.payload.ledStateLabel, msg.payload.ledState, msg.payload.ledStateTime),\n        item(msg.payload.ledColorLabel, msg.payload.ledColor, msg.payload.ledColorTime),\n        item(msg.payload.ledTelemetryLabel, msg.payload.ledTelemetry, msg.payload.ledTelemetryTime)\n    ],\n    metricRows: []\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 520,
        "wires": [
            [
                "244fb5d509b779a0"
            ]
        ]
    },
    {
        "id": "244fb5d509b779a0",
        "type": "ui-template",
        "z": "3b521b08f4388c2f",
        "group": "33c8b33051afe822",
        "page": "",
        "ui": "",
        "name": "LED Summary",
        "order": 1,
        "width": "6",
        "height": 2,
        "head": "",
        "format": "<template>\n  <div class=\"summary-card\">\n    <div class=\"summary-grid summary-grid-status\">\n      <div v-for=\"item in statusItems\" :key=\"item.label\" class=\"summary-item freshness-widget\">\n        <div class=\"freshness-label\">{{ item.label }}</div>\n        <div class=\"freshness-value\" :class=\"valueClass(item)\">{{ item.value || ' ' }}</div>\n      </div>\n    </div>\n  </div>\n</template>\n\n<script>\nexport default {\n  data() {\n    return {\n      nowMs: Date.now(),\n      timerId: null\n    };\n  },\n  computed: {\n    payloadData() {\n      return this.msg && this.msg.payload ? this.msg.payload : {};\n    },\n    maxAgeMs() {\n      return this.payloadData.maxAgeMs || 30000;\n    },\n    statusItems() {\n      return this.payloadData.statusItems || [];\n    }\n  },\n  methods: {\n    receivedMs(item) {\n      if (!item || !item.time) {\n        return null;\n      }\n\n      const parsed = Date.parse(item.time);\n      return Number.isNaN(parsed) ? null : parsed;\n    },\n    isFresh(item) {\n      if (!item || !item.value) {\n        return false;\n      }\n\n      const receivedMs = this.receivedMs(item);\n      if (receivedMs === null) {\n        return false;\n      }\n\n      return (this.nowMs - receivedMs) <= this.maxAgeMs;\n    },\n    valueClass(item) {\n      if (!item || !item.value) {\n        return 'freshness-empty';\n      }\n\n      return this.isFresh(item) ? 'freshness-fresh' : 'freshness-stale';\n    }\n  },\n  mounted() {\n    this.timerId = setInterval(() => {\n      this.nowMs = Date.now();\n    }, 1000);\n  },\n  unmounted() {\n    if (this.timerId) {\n      clearInterval(this.timerId);\n    }\n  }\n};\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1340,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "089c3ef6e90e9473",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send Get Status",
        "func": "msg.payload = \"GET,STATUS,NONE,NONE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 300,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "fc394b82c03ca94d",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "0c10ce94c624bca1",
        "name": "",
        "label": "Get Status",
        "order": 6,
        "width": "4",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 170,
        "y": 300,
        "wires": [
            [
                "089c3ef6e90e9473"
            ]
        ]
    },
    {
        "id": "99f6a6b4cde014ec",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send Get GPS",
        "func": "msg.payload = \"GET,GPS,NONE,NONE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1560,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "99e4d1070690697d",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "a02eb05c11bee1d4",
        "name": "Poll GPS",
        "label": "Poll",
        "order": 2,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "purple",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 180,
        "y": 1560,
        "wires": [
            [
                "99f6a6b4cde014ec"
            ]
        ]
    },
    {
        "id": "baab0a7f141ded66",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract GPS Summary",
        "func": "function item(label, value, time) {\n    return {\n        label: label || \"\",\n        value: value || \"\",\n        time: time || \"\"\n    };\n}\n\nmsg.payload = {\n    maxAgeMs: msg.payload.freshnessThresholdMs || 30000,\n    statusItems: [\n        item(msg.payload.gpsEnableLabel, msg.payload.gpsEnable, msg.payload.gpsEnableTime),\n        item(msg.payload.gpsAvailableLabel, msg.payload.gpsAvailable, msg.payload.gpsAvailableTime),\n        item(msg.payload.gpsSatellitesLabel, msg.payload.gpsSatellites, msg.payload.gpsSatellitesTime),\n        item(msg.payload.gpsTelemetryLabel, msg.payload.gpsTelemetry, msg.payload.gpsTelemetryTime)\n    ],\n    metricRows: [\n        [\n            item(msg.payload.gpsLatitudeLabel, msg.payload.gpsLatitude, msg.payload.gpsLatitudeTime),\n            item(msg.payload.gpsLongitudeLabel, msg.payload.gpsLongitude, msg.payload.gpsLongitudeTime)\n        ],\n        [\n            item(msg.payload.gpsAltitudeLabel, msg.payload.gpsAltitude, msg.payload.gpsAltitudeTime),\n            item(msg.payload.gpsSpeedLabel, msg.payload.gpsSpeed, msg.payload.gpsSpeedTime)\n        ]\n    ]\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 580,
        "wires": [
            [
                "6c1abf38ce1d10c7"
            ]
        ]
    },
    {
        "id": "6c1abf38ce1d10c7",
        "type": "ui-template",
        "z": "3b521b08f4388c2f",
        "group": "a02eb05c11bee1d4",
        "page": "",
        "ui": "",
        "name": "GPS Summary",
        "order": 1,
        "width": "6",
        "height": 3,
        "head": "",
        "format": "<template>\n  <div class=\"summary-card\">\n    <div class=\"summary-grid summary-grid-status\">\n      <div v-for=\"item in statusItems\" :key=\"item.label\" class=\"summary-item freshness-widget\">\n        <div class=\"freshness-label\">{{ item.label }}</div>\n        <div class=\"freshness-value\" :class=\"valueClass(item)\">{{ item.value || ' ' }}</div>\n      </div>\n    </div>\n    <div v-for=\"(row, index) in metricRows\" :key=\"index\" class=\"summary-grid summary-grid-metrics\">\n      <div v-for=\"item in row\" :key=\"item.label\" class=\"summary-item freshness-widget\">\n        <div class=\"freshness-label\">{{ item.label }}</div>\n        <div class=\"freshness-value\" :class=\"valueClass(item)\">{{ item.value || ' ' }}</div>\n      </div>\n    </div>\n  </div>\n</template>\n\n<script>\nexport default {\n  data() {\n    return {\n      nowMs: Date.now(),\n      timerId: null\n    };\n  },\n  computed: {\n    payloadData() {\n      return this.msg && this.msg.payload ? this.msg.payload : {};\n    },\n    maxAgeMs() {\n      return this.payloadData.maxAgeMs || 30000;\n    },\n    statusItems() {\n      return this.payloadData.statusItems || [];\n    },\n    metricRows() {\n      return this.payloadData.metricRows || [];\n    }\n  },\n  methods: {\n    receivedMs(item) {\n      if (!item || !item.time) {\n        return null;\n      }\n\n      const parsed = Date.parse(item.time);\n      return Number.isNaN(parsed) ? null : parsed;\n    },\n    isFresh(item) {\n      if (!item || !item.value) {\n        return false;\n      }\n\n      const receivedMs = this.receivedMs(item);\n      if (receivedMs === null) {\n        return false;\n      }\n\n      return (this.nowMs - receivedMs) <= this.maxAgeMs;\n    },\n    valueClass(item) {\n      if (!item || !item.value) {\n        return 'freshness-empty';\n      }\n\n      return this.isFresh(item) ? 'freshness-fresh' : 'freshness-stale';\n    }\n  },\n  mounted() {\n    this.timerId = setInterval(() => {\n      this.nowMs = Date.now();\n    }, 1000);\n  },\n  unmounted() {\n    if (this.timerId) {\n      clearInterval(this.timerId);\n    }\n  }\n};\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1340,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "105a93f091bf072b",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send GPS TLM Enable",
        "func": "msg.payload = \"SET,GPS,TELEMETRY,ENABLE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1680,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "4d5c6a049f7de23e",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "a02eb05c11bee1d4",
        "name": "",
        "label": "TLM On",
        "order": 5,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "#66bb6a",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 180,
        "y": 1680,
        "wires": [
            [
                "105a93f091bf072b"
            ]
        ]
    },
    {
        "id": "b5ad1afa06be4a91",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send GPS TLM Disable",
        "func": "msg.payload = \"SET,GPS,TELEMETRY,DISABLE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1720,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "efac6683ba23993b",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "a02eb05c11bee1d4",
        "name": "",
        "label": "TLM Off",
        "order": 6,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "#ef5350",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 180,
        "y": 1720,
        "wires": [
            [
                "b5ad1afa06be4a91"
            ]
        ]
    },
    {
        "id": "22b2e0d2b7246c22",
        "type": "worldmap",
        "z": "3b521b08f4388c2f",
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "",
        "layer": "OSMG",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "none",
        "showgrid": "false",
        "showruler": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN",
        "maplist": "OSMG,OSMC,EsriC,EsriS,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 1320,
        "y": 620,
        "wires": []
    },
    {
        "id": "a1a18baa0c4bd1de",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract GPS Map Payload",
        "func": "msg.payload = { \"name\": \"device\", \"lat\": msg.payload.gpsLatitude, \"lon\": msg.payload.gpsLongitude };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 620,
        "wires": [
            [
                "22b2e0d2b7246c22"
            ]
        ]
    },
    {
        "id": "dc305f410e85ee53",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send GPS Enable",
        "func": "msg.payload = \"SET,GPS,ENABLE,TRUE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1600,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "5edb44ceb3b3b1ee",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "a02eb05c11bee1d4",
        "name": "",
        "label": "Enable",
        "order": 3,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "#2e7d32",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 190,
        "y": 1600,
        "wires": [
            [
                "dc305f410e85ee53"
            ]
        ]
    },
    {
        "id": "375a32f7bbdd7eb6",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send GPS Disable",
        "func": "msg.payload = \"SET,GPS,ENABLE,FALSE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1640,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "cfbab3af6a622097",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "a02eb05c11bee1d4",
        "name": "",
        "label": "Disable",
        "order": 4,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "#c62828",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 180,
        "y": 1640,
        "wires": [
            [
                "375a32f7bbdd7eb6"
            ]
        ]
    },
    {
        "id": "422af41c05a542bd",
        "type": "ui-dropdown",
        "z": "3b521b08f4388c2f",
        "group": "a02eb05c11bee1d4",
        "name": "GPS Get Option",
        "label": "GET GPS Parameter",
        "tooltip": "",
        "order": 7,
        "width": "6",
        "height": "1",
        "passthru": false,
        "multiple": false,
        "chips": false,
        "clearable": false,
        "options": [
            {
                "label": "Enable",
                "value": "ENABLE",
                "type": "str"
            },
            {
                "label": "Available",
                "value": "AVAILABLE",
                "type": "str"
            },
            {
                "label": "Latitude",
                "value": "LATITUDE_D",
                "type": "str"
            },
            {
                "label": "Longitude",
                "value": "LONGITUDE_D",
                "type": "str"
            },
            {
                "label": "Altitude",
                "value": "ALTITUDE_M",
                "type": "str"
            },
            {
                "label": "Speed",
                "value": "SPEED_KPH",
                "type": "str"
            },
            {
                "label": "Satellites",
                "value": "SATELLITES_N",
                "type": "str"
            },
            {
                "label": "Telemetry",
                "value": "TELEMETRY",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": true,
        "msgTrigger": "onChange",
        "x": 160,
        "y": 1760,
        "wires": [
            [
                "51704248b4f8e452"
            ]
        ]
    },
    {
        "id": "51704248b4f8e452",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send Get GPS",
        "func": "let option = String(msg.payload);\nlet command = String(\"GET,GPS,\" + option + \",NONE\\n\");\n\nflow.set(\"gpsGet\", command);\nmsg.payload = command;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1760,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "8ae59345e26d21c1",
        "type": "ui-dropdown",
        "z": "3b521b08f4388c2f",
        "group": "50860bfd06fffa7a",
        "name": "Batt Get Option",
        "label": "GET Battery Parameter",
        "tooltip": "",
        "order": 11,
        "width": "6",
        "height": "1",
        "passthru": false,
        "multiple": false,
        "chips": false,
        "clearable": false,
        "options": [
            {
                "label": "Available",
                "value": "AVAILABLE",
                "type": "str"
            },
            {
                "label": "Telemetry",
                "value": "TELEMETRY",
                "type": "str"
            },
            {
                "label": "Charge Current",
                "value": "CHARGE_CURRENT_A",
                "type": "str"
            },
            {
                "label": "Charge Voltage",
                "value": "CHARGE_VOLTAGE_V",
                "type": "str"
            },
            {
                "label": "Charge Percentage",
                "value": "CHARGE_PERCENT_P",
                "type": "str"
            },
            {
                "label": "Battery Voltage",
                "value": "VOLTAGE_V",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": true,
        "msgTrigger": "onChange",
        "x": 160,
        "y": 1500,
        "wires": [
            [
                "15393e4f233d1ad0"
            ]
        ]
    },
    {
        "id": "15393e4f233d1ad0",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send Get Batt Option",
        "func": "let option = String(msg.payload);\nlet command = String(\"GET,BATTERY,\" + option + \",NONE\\n\");\n\nflow.set(\"battGet\", command);\nmsg.payload = command;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1500,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "39c0663b772f6f4b",
        "type": "ui-dropdown",
        "z": "3b521b08f4388c2f",
        "group": "1f22eb0bf52ef7c6",
        "name": "RTC Get Option",
        "label": "GET RTC Parameter",
        "tooltip": "",
        "order": 7,
        "width": "6",
        "height": "1",
        "passthru": false,
        "multiple": false,
        "chips": false,
        "clearable": false,
        "options": [
            {
                "label": "Telemetry",
                "value": "TELEMETRY",
                "type": "str"
            },
            {
                "label": "Current Time",
                "value": "CURRENT_TIME",
                "type": "str"
            },
            {
                "label": "Sync State",
                "value": "SYNC",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": true,
        "msgTrigger": "onChange",
        "x": 160,
        "y": 1320,
        "wires": [
            [
                "8882f258a5ed5fa0"
            ]
        ]
    },
    {
        "id": "8882f258a5ed5fa0",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send Get RTC Option",
        "func": "let option = String(msg.payload);\nlet command = String(\"GET,RTC,\" + option + \",NONE\\n\");\n\nflow.set(\"rtcGet\", command);\nmsg.payload = command;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1320,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "f94171a658da54a2",
        "type": "ui-dropdown",
        "z": "3b521b08f4388c2f",
        "group": "33c8b33051afe822",
        "name": "LED Get Option",
        "label": "GET LED Parameter",
        "tooltip": "",
        "order": 10,
        "width": "6",
        "height": "1",
        "passthru": false,
        "multiple": false,
        "chips": false,
        "clearable": false,
        "options": [
            {
                "label": "Enable",
                "value": "ENABLE",
                "type": "str"
            },
            {
                "label": "State",
                "value": "STATE",
                "type": "str"
            },
            {
                "label": "Telemetry",
                "value": "TELEMETRY",
                "type": "str"
            },
            {
                "label": "Color",
                "value": "COLOR",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": true,
        "msgTrigger": "onChange",
        "x": 160,
        "y": 760,
        "wires": [
            [
                "4505d0c755a203ee"
            ]
        ]
    },
    {
        "id": "4505d0c755a203ee",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send Get LED Option",
        "func": "let option = String(msg.payload);\nlet command = String(\"GET,LED,\" + option + \",NONE\\n\");\n\nflow.set(\"ledGet\", command);\nmsg.payload = command;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 760,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "97c59647f590686d",
        "type": "ui-dropdown",
        "z": "3b521b08f4388c2f",
        "group": "87c6d1cd17eff6d5",
        "name": "TLM Get Option",
        "label": "GET TLM Parameter",
        "tooltip": "",
        "order": 8,
        "width": "6",
        "height": "1",
        "passthru": false,
        "multiple": false,
        "chips": false,
        "clearable": false,
        "options": [
            {
                "label": "Enable",
                "value": "ENABLE",
                "type": "str"
            },
            {
                "label": "Telemetry",
                "value": "TELEMETRY",
                "type": "str"
            },
            {
                "label": "Interval",
                "value": "INTERVAL_S",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": true,
        "msgTrigger": "onChange",
        "x": 160,
        "y": 1060,
        "wires": [
            [
                "46d81b6a9fcaf4c6"
            ]
        ]
    },
    {
        "id": "46d81b6a9fcaf4c6",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send Get TLM",
        "func": "let option = String(msg.payload);\nlet command = String(\"GET,TELEMETRY,\" + option + \",NONE\\n\");\n\nflow.set(\"tlmGet\", command);\nmsg.payload = command;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1060,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "4dcfcdf209f856a5",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send RESET",
        "func": "msg.payload = \"RESET,NONE,NONE,NONE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 340,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "91dbdc582d83626d",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "0c10ce94c624bca1",
        "name": "",
        "label": "Reset",
        "order": 7,
        "width": "4",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "red",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 190,
        "y": 340,
        "wires": [
            [
                "4dcfcdf209f856a5"
            ]
        ]
    },
    {
        "id": "abeca463a1810f08",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send Sync RTC GPS",
        "func": "msg.payload = \"SET,RTC,SYNC,GPS\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1200,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "52fc46764e32ba83",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "1f22eb0bf52ef7c6",
        "name": "",
        "label": "Sync GPS",
        "order": 4,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "#64b5f6",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 170,
        "y": 1200,
        "wires": [
            [
                "abeca463a1810f08"
            ]
        ]
    },
    {
        "id": "9d14e4f746a3a6df",
        "type": "ui-template",
        "z": "3b521b08f4388c2f",
        "group": "",
        "page": "f97e68d451736993",
        "ui": "",
        "name": "Freshness Styles",
        "order": 0,
        "width": "0",
        "height": "0",
        "head": "",
        "format": ".freshness-widget {\n    height: 100%;\n    display: flex;\n    flex-direction: column;\n    align-items: center;\n    justify-content: center;\n    text-align: center;\n    overflow: hidden;\n    padding: 0.1rem 0;\n    box-sizing: border-box;\n}\n\n.freshness-label {\n    font-size: 0.85rem;\n    color: #FFFFFF;\n    line-height: 1.1;\n    margin: 0;\n}\n\n.freshness-value {\n    margin-top: 0.1rem;\n    font-size: 0.95rem;\n    font-weight: 600;\n    line-height: 1.05;\n    transition: color 0.2s ease;\n}\n\n.freshness-fresh {\n    color: #2e7d32;\n}\n\n.freshness-stale {\n    color: #d32f2f;\n}\n\n.freshness-empty {\n    color: #717171;\n}\n\n.summary-card {\n    display: flex;\n    flex-direction: column;\n    gap: 0.45rem;\n    height: 100%;\n    padding: 0.2rem 0;\n    box-sizing: border-box;\n}\n\n.summary-grid {\n    display: grid;\n    gap: 0.35rem 0.6rem;\n    align-items: stretch;\n}\n\n.summary-grid-status {\n    grid-template-columns: repeat(4, minmax(0, 1fr));\n}\n\n.summary-grid-status-3 {\n    grid-template-columns: repeat(3, minmax(0, 1fr));\n}\n\n.summary-grid-metrics {\n    grid-template-columns: repeat(2, minmax(0, 1fr));\n}\n\n.summary-item {\n    min-height: 0;\n}",
        "storeOutMessages": false,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "page:style",
        "className": "",
        "x": 130,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "ce3a285745eb4602",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract Batt Available",
        "func": "msg.payload = {\n    label: msg.payload.batteryAvailableLabel || \"\",\n    value: msg.payload.batteryAvailable || \"\",\n    time: msg.payload.batteryAvailableTime || \"\",\n    maxAgeMs: msg.payload.freshnessThresholdMs || 30000\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 840,
        "wires": [
            [
                "902c416c219dd801"
            ]
        ]
    },
    {
        "id": "902c416c219dd801",
        "type": "ui-template",
        "z": "3b521b08f4388c2f",
        "group": "50860bfd06fffa7a",
        "page": "",
        "ui": "",
        "name": "Batt Available",
        "order": 3,
        "width": "1",
        "height": 1,
        "head": "",
        "format": "<template>\n  <div class=\"freshness-widget\"><div class=\"freshness-label\">{{ displayLabel }}</div><div class=\"freshness-value\" :class=\"valueClass\">{{ displayValue }}</div></div></template>\n\n<script>\nexport default { data() { return { nowMs: Date.now(), timerId: null }; }, computed: { payloadData() { return this.msg && this.msg.payload ? this.msg.payload : {}; }, displayLabel() { return this.payloadData.label || ''; }, displayValue() { return this.payloadData.value || ''; }, maxAgeMs() { return this.payloadData.maxAgeMs || 30000; }, receivedMs() { const t = this.payloadData.time; if (!t) return null; const p = Date.parse(t); return Number.isNaN(p) ? null : p; }, isFresh() { if (!this.displayValue || this.receivedMs === null) return false; return (this.nowMs - this.receivedMs) <= this.maxAgeMs; }, valueClass() { if (!this.displayValue) return 'freshness-empty'; return this.isFresh ? 'freshness-fresh' : 'freshness-stale'; } }, mounted() { this.timerId = setInterval(() => { this.nowMs = Date.now(); }, 1000); }, unmounted() { if (this.timerId) { clearInterval(this.timerId); } } };\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1320,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "1adbe36cd8830cab",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract Batt TLM",
        "func": "msg.payload = {\n    label: msg.payload.batteryTelemetryLabel || \"\",\n    value: msg.payload.batteryTelemetry || \"\",\n    time: msg.payload.batteryTelemetryTime || \"\",\n    maxAgeMs: msg.payload.freshnessThresholdMs || 30000\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 880,
        "wires": [
            [
                "69af21a5b485e3e9"
            ]
        ]
    },
    {
        "id": "69af21a5b485e3e9",
        "type": "ui-template",
        "z": "3b521b08f4388c2f",
        "group": "50860bfd06fffa7a",
        "page": "",
        "ui": "",
        "name": "Batt Telemetry Enable",
        "order": 9,
        "width": "1",
        "height": 1,
        "head": "",
        "format": "<template>\n  <div class=\"freshness-widget\"><div class=\"freshness-label\">{{ displayLabel }}</div><div class=\"freshness-value\" :class=\"valueClass\">{{ displayValue }}</div></div></template>\n\n<script>\nexport default { data() { return { nowMs: Date.now(), timerId: null }; }, computed: { payloadData() { return this.msg && this.msg.payload ? this.msg.payload : {}; }, displayLabel() { return this.payloadData.label || ''; }, displayValue() { return this.payloadData.value || ''; }, maxAgeMs() { return this.payloadData.maxAgeMs || 30000; }, receivedMs() { const t = this.payloadData.time; if (!t) return null; const p = Date.parse(t); return Number.isNaN(p) ? null : p; }, isFresh() { if (!this.displayValue || this.receivedMs === null) return false; return (this.nowMs - this.receivedMs) <= this.maxAgeMs; }, valueClass() { if (!this.displayValue) return 'freshness-empty'; return this.isFresh ? 'freshness-fresh' : 'freshness-stale'; } }, mounted() { this.timerId = setInterval(() => { this.nowMs = Date.now(); }, 1000); }, unmounted() { if (this.timerId) { clearInterval(this.timerId); } } };\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1340,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "9b67958256975ec3",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract Batt Charge CurrentA",
        "func": "msg.payload = {\n    label: msg.payload.chargeCurrentALabel || \"\",\n    value: msg.payload.chargeCurrentA || \"\",\n    time: msg.payload.chargeCurrentATime || \"\",\n    maxAgeMs: msg.payload.freshnessThresholdMs || 30000\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 920,
        "wires": [
            [
                "2d3845ca76ac01f8"
            ]
        ]
    },
    {
        "id": "2d3845ca76ac01f8",
        "type": "ui-template",
        "z": "3b521b08f4388c2f",
        "group": "50860bfd06fffa7a",
        "page": "",
        "ui": "",
        "name": "Batt Charge Current",
        "order": 8,
        "width": "1",
        "height": 1,
        "head": "",
        "format": "<template>\n  <div class=\"freshness-widget\"><div class=\"freshness-label\">{{ displayLabel }}</div><div class=\"freshness-value\" :class=\"valueClass\">{{ displayValue }}</div></div></template>\n\n<script>\nexport default { data() { return { nowMs: Date.now(), timerId: null }; }, computed: { payloadData() { return this.msg && this.msg.payload ? this.msg.payload : {}; }, displayLabel() { return this.payloadData.label || ''; }, displayValue() { return this.payloadData.value || ''; }, maxAgeMs() { return this.payloadData.maxAgeMs || 30000; }, receivedMs() { const t = this.payloadData.time; if (!t) return null; const p = Date.parse(t); return Number.isNaN(p) ? null : p; }, isFresh() { if (!this.displayValue || this.receivedMs === null) return false; return (this.nowMs - this.receivedMs) <= this.maxAgeMs; }, valueClass() { if (!this.displayValue) return 'freshness-empty'; return this.isFresh ? 'freshness-fresh' : 'freshness-stale'; } }, mounted() { this.timerId = setInterval(() => { this.nowMs = Date.now(); }, 1000); }, unmounted() { if (this.timerId) { clearInterval(this.timerId); } } };\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1340,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "40789d6517ba6d78",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract Batt Charge Voltage",
        "func": "msg.payload = {\n    label: msg.payload.chargeVoltageVLabel || \"\",\n    value: msg.payload.chargeVoltageV || \"\",\n    time: msg.payload.chargeVoltageVTime || \"\",\n    maxAgeMs: msg.payload.freshnessThresholdMs || 30000\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 960,
        "wires": [
            [
                "dce7627a1e966373"
            ]
        ]
    },
    {
        "id": "dce7627a1e966373",
        "type": "ui-template",
        "z": "3b521b08f4388c2f",
        "group": "50860bfd06fffa7a",
        "page": "",
        "ui": "",
        "name": "Batt Charge Voltage",
        "order": 7,
        "width": "1",
        "height": 1,
        "head": "",
        "format": "<template>\n  <div class=\"freshness-widget\"><div class=\"freshness-label\">{{ displayLabel }}</div><div class=\"freshness-value\" :class=\"valueClass\">{{ displayValue }}</div></div></template>\n\n<script>\nexport default { data() { return { nowMs: Date.now(), timerId: null }; }, computed: { payloadData() { return this.msg && this.msg.payload ? this.msg.payload : {}; }, displayLabel() { return this.payloadData.label || ''; }, displayValue() { return this.payloadData.value || ''; }, maxAgeMs() { return this.payloadData.maxAgeMs || 30000; }, receivedMs() { const t = this.payloadData.time; if (!t) return null; const p = Date.parse(t); return Number.isNaN(p) ? null : p; }, isFresh() { if (!this.displayValue || this.receivedMs === null) return false; return (this.nowMs - this.receivedMs) <= this.maxAgeMs; }, valueClass() { if (!this.displayValue) return 'freshness-empty'; return this.isFresh ? 'freshness-fresh' : 'freshness-stale'; } }, mounted() { this.timerId = setInterval(() => { this.nowMs = Date.now(); }, 1000); }, unmounted() { if (this.timerId) { clearInterval(this.timerId); } } };\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1340,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "479b9525c978f50c",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract Batt Charge Percent",
        "func": "msg.payload = {\n    label: msg.payload.chargePercentPLabel || \"\",\n    value: msg.payload.chargePercentP || \"\",\n    time: msg.payload.chargePercentPTime || \"\",\n    maxAgeMs: msg.payload.freshnessThresholdMs || 30000\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 1000,
        "wires": [
            [
                "0e1db750190549e3"
            ]
        ]
    },
    {
        "id": "0e1db750190549e3",
        "type": "ui-template",
        "z": "3b521b08f4388c2f",
        "group": "50860bfd06fffa7a",
        "page": "",
        "ui": "",
        "name": "Batt Charge Percent",
        "order": 5,
        "width": "1",
        "height": 1,
        "head": "",
        "format": "<template>\n  <div class=\"freshness-widget\"><div class=\"freshness-label\">{{ displayLabel }}</div><div class=\"freshness-value\" :class=\"valueClass\">{{ displayValue }}</div></div></template>\n\n<script>\nexport default { data() { return { nowMs: Date.now(), timerId: null }; }, computed: { payloadData() { return this.msg && this.msg.payload ? this.msg.payload : {}; }, displayLabel() { return this.payloadData.label || ''; }, displayValue() { return this.payloadData.value || ''; }, maxAgeMs() { return this.payloadData.maxAgeMs || 30000; }, receivedMs() { const t = this.payloadData.time; if (!t) return null; const p = Date.parse(t); return Number.isNaN(p) ? null : p; }, isFresh() { if (!this.displayValue || this.receivedMs === null) return false; return (this.nowMs - this.receivedMs) <= this.maxAgeMs; }, valueClass() { if (!this.displayValue) return 'freshness-empty'; return this.isFresh ? 'freshness-fresh' : 'freshness-stale'; } }, mounted() { this.timerId = setInterval(() => { this.nowMs = Date.now(); }, 1000); }, unmounted() { if (this.timerId) { clearInterval(this.timerId); } } };\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1340,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "f2470d9d60f7b199",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract Batt Voltage",
        "func": "msg.payload = {\n    label: msg.payload.batteryVoltageLabel || \"\",\n    value: msg.payload.batteryVoltage || \"\",\n    time: msg.payload.batteryVoltageTime || \"\",\n    maxAgeMs: msg.payload.freshnessThresholdMs || 30000\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 1040,
        "wires": [
            [
                "a3f22085dd57dbdd"
            ]
        ]
    },
    {
        "id": "a3f22085dd57dbdd",
        "type": "ui-template",
        "z": "3b521b08f4388c2f",
        "group": "50860bfd06fffa7a",
        "page": "",
        "ui": "",
        "name": "Batt Voltage",
        "order": 6,
        "width": "1",
        "height": 1,
        "head": "",
        "format": "<template>\n  <div class=\"freshness-widget\"><div class=\"freshness-label\">{{ displayLabel }}</div><div class=\"freshness-value\" :class=\"valueClass\">{{ displayValue }}</div></div></template>\n\n<script>\nexport default { data() { return { nowMs: Date.now(), timerId: null }; }, computed: { payloadData() { return this.msg && this.msg.payload ? this.msg.payload : {}; }, displayLabel() { return this.payloadData.label || ''; }, displayValue() { return this.payloadData.value || ''; }, maxAgeMs() { return this.payloadData.maxAgeMs || 30000; }, receivedMs() { const t = this.payloadData.time; if (!t) return null; const p = Date.parse(t); return Number.isNaN(p) ? null : p; }, isFresh() { if (!this.displayValue || this.receivedMs === null) return false; return (this.nowMs - this.receivedMs) <= this.maxAgeMs; }, valueClass() { if (!this.displayValue) return 'freshness-empty'; return this.isFresh ? 'freshness-fresh' : 'freshness-stale'; } }, mounted() { this.timerId = setInterval(() => { this.nowMs = Date.now(); }, 1000); }, unmounted() { if (this.timerId) { clearInterval(this.timerId); } } };\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1310,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "c1a5e6f4b9d24731",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract THERMAL Summary",
        "func": "function item(label, value, time) {\n    return {\n        label: label || \"\",\n        value: value || \"\",\n        time: time || \"\"\n    };\n}\n\nmsg.payload = {\n    maxAgeMs: msg.payload.freshnessThresholdMs || 30000,\n    statusItems: [\n        item(msg.payload.thermalEnableLabel, msg.payload.thermalEnable, msg.payload.thermalEnableTime),\n        item(msg.payload.thermalAvailableLabel, msg.payload.thermalAvailable, msg.payload.thermalAvailableTime),\n        item(msg.payload.thermalTelemetryLabel, msg.payload.thermalTelemetry, msg.payload.thermalTelemetryTime)\n    ],\n    metricRows: [\n        [\n            item(msg.payload.thermalTemperatureCLabel, msg.payload.thermalTemperatureC, msg.payload.thermalTemperatureCTime),\n            item(msg.payload.thermalHumidityPLabel, msg.payload.thermalHumidityP, msg.payload.thermalHumidityPTime)\n        ]\n    ]\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 680,
        "wires": [
            [
                "f2b7143d8e2844e6"
            ]
        ]
    },
    {
        "id": "f2b7143d8e2844e6",
        "type": "ui-template",
        "z": "3b521b08f4388c2f",
        "group": "d4e48e4db2f9418c",
        "page": "",
        "ui": "",
        "name": "THERMAL Summary",
        "order": 1,
        "width": "6",
        "height": 3,
        "head": "",
        "format": "<template>\n  <div class=\"summary-card\">\n    <div class=\"summary-grid summary-grid-status-3\">\n      <div v-for=\"item in statusItems\" :key=\"item.label\" class=\"summary-item freshness-widget\">\n        <div class=\"freshness-label\">{{ item.label }}</div>\n        <div class=\"freshness-value\" :class=\"valueClass(item)\">{{ item.value || ' ' }}</div>\n      </div>\n    </div>\n    <div v-for=\"(row, index) in metricRows\" :key=\"index\" class=\"summary-grid imu-summary-grid-metrics\">\n      <div v-for=\"item in row\" :key=\"item.label\" class=\"summary-item freshness-widget\">\n        <div class=\"freshness-label\">{{ item.label }}</div>\n        <div class=\"freshness-value\" :class=\"valueClass(item)\">{{ item.value || ' ' }}</div>\n      </div>\n    </div>\n  </div>\n</template>\n\n<script>\nexport default {\n  data() {\n    return {\n      nowMs: Date.now(),\n      timerId: null\n    };\n  },\n  computed: {\n    payloadData() {\n      return this.msg && this.msg.payload ? this.msg.payload : {};\n    },\n    maxAgeMs() {\n      return this.payloadData.maxAgeMs || 30000;\n    },\n    statusItems() {\n      return this.payloadData.statusItems || [];\n    },\n    metricRows() {\n      return this.payloadData.metricRows || [];\n    }\n  },\n  methods: {\n    receivedMs(item) {\n      if (!item || !item.time) {\n        return null;\n      }\n\n      const parsed = Date.parse(item.time);\n      return Number.isNaN(parsed) ? null : parsed;\n    },\n    isFresh(item) {\n      if (!item || !item.value) {\n        return false;\n      }\n\n      const receivedMs = this.receivedMs(item);\n      if (receivedMs === null) {\n        return false;\n      }\n\n      return (this.nowMs - receivedMs) <= this.maxAgeMs;\n    },\n    valueClass(item) {\n      if (!item || !item.value) {\n        return 'freshness-empty';\n      }\n\n      return this.isFresh(item) ? 'freshness-fresh' : 'freshness-stale';\n    }\n  },\n  mounted() {\n    this.timerId = setInterval(() => {\n      this.nowMs = Date.now();\n    }, 1000);\n  },\n  unmounted() {\n    if (this.timerId) {\n      clearInterval(this.timerId);\n    }\n  }\n};\n</script>\n\n<style>\n.imu-summary-grid-metrics {\n  grid-template-columns: repeat(3, minmax(0, 1fr));\n}\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1360,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "ad9a1172f96f4d2e",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send Get THERMAL",
        "func": "msg.payload = \"GET,THERMAL,NONE,NONE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1820,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "e43154d835d74d51",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "d4e48e4db2f9418c",
        "name": "Poll THERMAL",
        "label": "Poll",
        "order": 2,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "purple",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 160,
        "y": 1820,
        "wires": [
            [
                "ad9a1172f96f4d2e"
            ]
        ]
    },
    {
        "id": "2c97ba51f2b14120",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send THERMAL Enable",
        "func": "msg.payload = \"SET,THERMAL,ENABLE,TRUE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1860,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "6d27dcb8ef6f4785",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "d4e48e4db2f9418c",
        "name": "",
        "label": "Enable",
        "order": 3,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "#2e7d32",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 190,
        "y": 1860,
        "wires": [
            [
                "2c97ba51f2b14120"
            ]
        ]
    },
    {
        "id": "ec1cb4d6f88d4960",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send THERMAL Disable",
        "func": "msg.payload = \"SET,THERMAL,ENABLE,FALSE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1900,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "2973fe2e0f034bc2",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "d4e48e4db2f9418c",
        "name": "",
        "label": "Disable",
        "order": 4,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "#c62828",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 180,
        "y": 1900,
        "wires": [
            [
                "ec1cb4d6f88d4960"
            ]
        ]
    },
    {
        "id": "72e87a9eae8f48ef",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send THERMAL TLM Enable",
        "func": "msg.payload = \"SET,THERMAL,TELEMETRY,ENABLE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1940,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "df2cbc86e4dc4f1e",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "d4e48e4db2f9418c",
        "name": "",
        "label": "TLM On",
        "order": 5,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "#66bb6a",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 180,
        "y": 1940,
        "wires": [
            [
                "72e87a9eae8f48ef"
            ]
        ]
    },
    {
        "id": "987f73a4442b4f0a",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send THERMAL TLM Disable",
        "func": "msg.payload = \"SET,THERMAL,TELEMETRY,DISABLE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1980,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "372e724be5094945",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "d4e48e4db2f9418c",
        "name": "",
        "label": "TLM Off",
        "order": 6,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "#ef5350",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 180,
        "y": 1980,
        "wires": [
            [
                "987f73a4442b4f0a"
            ]
        ]
    },
    {
        "id": "1199c61802ad4041",
        "type": "ui-dropdown",
        "z": "3b521b08f4388c2f",
        "group": "d4e48e4db2f9418c",
        "name": "THERMAL Get Option",
        "label": "GET THERMAL Parameter",
        "tooltip": "",
        "order": 7,
        "width": "6",
        "height": "1",
        "passthru": false,
        "multiple": false,
        "chips": false,
        "clearable": false,
        "options": [
            {
                "label": "Enable",
                "value": "ENABLE",
                "type": "str"
            },
            {
                "label": "Available",
                "value": "AVAILABLE",
                "type": "str"
            },
            {
                "label": "Temperature",
                "value": "TEMPERATURE_C",
                "type": "str"
            },
            {
                "label": "Humidity",
                "value": "HUMIDITY_P",
                "type": "str"
            },
            {
                "label": "Telemetry",
                "value": "TELEMETRY",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": true,
        "msgTrigger": "onChange",
        "x": 140,
        "y": 2020,
        "wires": [
            [
                "aa7ec0aa8d7f43ba"
            ]
        ]
    },
    {
        "id": "aa7ec0aa8d7f43ba",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send Get THERMAL Option",
        "func": "let option = String(msg.payload);\nlet command = String(\"GET,THERMAL,\" + option + \",NONE\\n\");\n\nflow.set(\"thermalGet\", command);\nmsg.payload = command;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 2020,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "5fb2251db7cd4cf2",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract IMU Summary",
        "func": "function item(label, value, time) {\n    return {\n        label: label || \"\",\n        value: value || \"\",\n        time: time || \"\"\n    };\n}\n\nfunction row(columns, items) {\n    return {\n        columns: columns,\n        items: items\n    };\n}\n\nmsg.payload = {\n    maxAgeMs: msg.payload.freshnessThresholdMs || 30000,\n    statusItems: [\n        item(msg.payload.imuEnableLabel, msg.payload.imuEnable, msg.payload.imuEnableTime),\n        item(msg.payload.imuAvailableLabel, msg.payload.imuAvailable, msg.payload.imuAvailableTime),\n        item(msg.payload.imuTelemetryLabel, msg.payload.imuTelemetry, msg.payload.imuTelemetryTime)\n    ],\n    metricRows: [\n        row(3, [\n            item(msg.payload.imuXMs2Label, msg.payload.imuXMs2, msg.payload.imuXMs2Time),\n            item(msg.payload.imuYMs2Label, msg.payload.imuYMs2, msg.payload.imuYMs2Time),\n            item(msg.payload.imuZMs2Label, msg.payload.imuZMs2, msg.payload.imuZMs2Time)\n        ]),\n        row(3, [\n            item(msg.payload.imuGyroXDpsLabel, msg.payload.imuGyroXDps, msg.payload.imuGyroXDpsTime),\n            item(msg.payload.imuGyroYDpsLabel, msg.payload.imuGyroYDps, msg.payload.imuGyroYDpsTime),\n            item(msg.payload.imuGyroZDpsLabel, msg.payload.imuGyroZDps, msg.payload.imuGyroZDpsTime)\n        ]),\n        row(3, [\n            item(msg.payload.imuMagXUtLabel, msg.payload.imuMagXUt, msg.payload.imuMagXUtTime),\n            item(msg.payload.imuMagYUtLabel, msg.payload.imuMagYUt, msg.payload.imuMagYUtTime),\n            item(msg.payload.imuMagZUtLabel, msg.payload.imuMagZUt, msg.payload.imuMagZUtTime)\n        ]),\n        row(1, [\n            item(msg.payload.imuHeadingDegLabel, msg.payload.imuHeadingDeg, msg.payload.imuHeadingDegTime)\n        ])\n    ]\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 740,
        "wires": [
            [
                "823cd835985ef459"
            ]
        ]
    },
    {
        "id": "823cd835985ef459",
        "type": "ui-template",
        "z": "3b521b08f4388c2f",
        "group": "6b23d8f2d6f14c91",
        "page": "",
        "ui": "",
        "name": "IMU Summary",
        "order": 1,
        "width": "6",
        "height": 4,
        "head": "",
        "format": "<template>\n  <div class=\"summary-card\">\n    <div class=\"summary-grid summary-grid-status-3\">\n      <div v-for=\"item in statusItems\" :key=\"item.label\" class=\"summary-item freshness-widget\">\n        <div class=\"freshness-label\">{{ item.label }}</div>\n        <div class=\"freshness-value\" :class=\"valueClass(item)\">{{ item.value || ' ' }}</div>\n      </div>\n    </div>\n    <div v-for=\"(row, index) in metricRows\" :key=\"index\" class=\"summary-grid\" :style=\"rowStyle(row)\">\n      <div v-for=\"item in row.items || []\" :key=\"item.label\" class=\"summary-item freshness-widget\">\n        <div class=\"freshness-label\">{{ item.label }}</div>\n        <div class=\"freshness-value\" :class=\"valueClass(item)\">{{ item.value || ' ' }}</div>\n      </div>\n    </div>\n  </div>\n</template>\n\n<script>\nexport default {\n  data() {\n    return {\n      nowMs: Date.now(),\n      timerId: null\n    };\n  },\n  computed: {\n    payloadData() {\n      return this.msg && this.msg.payload ? this.msg.payload : {};\n    },\n    maxAgeMs() {\n      return this.payloadData.maxAgeMs || 30000;\n    },\n    statusItems() {\n      return this.payloadData.statusItems || [];\n    },\n    metricRows() {\n      return this.payloadData.metricRows || [];\n    }\n  },\n  methods: {\n    receivedMs(item) {\n      if (!item || !item.time) {\n        return null;\n      }\n\n      const parsed = Date.parse(item.time);\n      return Number.isNaN(parsed) ? null : parsed;\n    },\n    isFresh(item) {\n      if (!item || !item.value) {\n        return false;\n      }\n\n      const receivedMs = this.receivedMs(item);\n      if (receivedMs === null) {\n        return false;\n      }\n\n      return (this.nowMs - receivedMs) <= this.maxAgeMs;\n    },\n    valueClass(item) {\n      if (!item || !item.value) {\n        return 'freshness-empty';\n      }\n\n      return this.isFresh(item) ? 'freshness-fresh' : 'freshness-stale';\n    },\n    rowStyle(row) {\n      const columns = row && row.columns ? row.columns : 3;\n      return {\n        gridTemplateColumns: `repeat(${columns}, minmax(0, 1fr))`\n      };\n    }\n  },\n  mounted() {\n    this.timerId = setInterval(() => {\n      this.nowMs = Date.now();\n    }, 1000);\n  },\n  unmounted() {\n    if (this.timerId) {\n      clearInterval(this.timerId);\n    }\n  }\n};\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1340,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "cf54d2ffd3044ff3",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send Get IMU",
        "func": "msg.payload = \"GET,IMU,NONE,NONE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 2100,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "d8cfd9403ce84777",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "6b23d8f2d6f14c91",
        "name": "Poll IMU",
        "label": "Poll",
        "order": 2,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "purple",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 170,
        "y": 2100,
        "wires": [
            [
                "cf54d2ffd3044ff3"
            ]
        ]
    },
    {
        "id": "fed95580df4f4200",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send IMU Enable",
        "func": "msg.payload = \"SET,IMU,ENABLE,TRUE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 2140,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "188774edb3cc41ce",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "6b23d8f2d6f14c91",
        "name": "",
        "label": "Enable",
        "order": 3,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "#2e7d32",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 200,
        "y": 2140,
        "wires": [
            [
                "fed95580df4f4200"
            ]
        ]
    },
    {
        "id": "ca3db94c74034f65",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send IMU Disable",
        "func": "msg.payload = \"SET,IMU,ENABLE,FALSE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 2180,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "cf5df355c1d54b11",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "6b23d8f2d6f14c91",
        "name": "",
        "label": "Disable",
        "order": 4,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "#c62828",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 190,
        "y": 2180,
        "wires": [
            [
                "ca3db94c74034f65"
            ]
        ]
    },
    {
        "id": "a19d16d11c4349b7",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send IMU TLM Enable",
        "func": "msg.payload = \"SET,IMU,TELEMETRY,ENABLE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2220,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "1cc9fcf5504e4e57",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "6b23d8f2d6f14c91",
        "name": "",
        "label": "TLM On",
        "order": 5,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "#66bb6a",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 190,
        "y": 2220,
        "wires": [
            [
                "a19d16d11c4349b7"
            ]
        ]
    },
    {
        "id": "267a84e504fe417b",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send IMU TLM Disable",
        "func": "msg.payload = \"SET,IMU,TELEMETRY,DISABLE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 2260,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "60b0f74f1a89491a",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "6b23d8f2d6f14c91",
        "name": "",
        "label": "TLM Off",
        "order": 6,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "#ef5350",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 190,
        "y": 2260,
        "wires": [
            [
                "267a84e504fe417b"
            ]
        ]
    },
    {
        "id": "571e68d594fd4fb4",
        "type": "ui-dropdown",
        "z": "3b521b08f4388c2f",
        "group": "6b23d8f2d6f14c91",
        "name": "IMU Get Option",
        "label": "GET IMU Parameter",
        "tooltip": "",
        "order": 7,
        "width": "6",
        "height": "1",
        "passthru": false,
        "multiple": false,
        "chips": false,
        "clearable": false,
        "options": [
            {
                "label": "Enable",
                "value": "ENABLE",
                "type": "str"
            },
            {
                "label": "Available",
                "value": "AVAILABLE",
                "type": "str"
            },
            {
                "label": "X Axis",
                "value": "X_MS2",
                "type": "str"
            },
            {
                "label": "Y Axis",
                "value": "Y_MS2",
                "type": "str"
            },
            {
                "label": "Z Axis",
                "value": "Z_MS2",
                "type": "str"
            },
            {
                "label": "Gyro X",
                "value": "GYRO_X_DPS",
                "type": "str"
            },
            {
                "label": "Gyro Y",
                "value": "GYRO_Y_DPS",
                "type": "str"
            },
            {
                "label": "Gyro Z",
                "value": "GYRO_Z_DPS",
                "type": "str"
            },
            {
                "label": "Mag X",
                "value": "MAG_X_UT",
                "type": "str"
            },
            {
                "label": "Mag Y",
                "value": "MAG_Y_UT",
                "type": "str"
            },
            {
                "label": "Mag Z",
                "value": "MAG_Z_UT",
                "type": "str"
            },
            {
                "label": "Heading",
                "value": "HEADING_DEG",
                "type": "str"
            },
            {
                "label": "Telemetry",
                "value": "TELEMETRY",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": true,
        "msgTrigger": "onChange",
        "x": 180,
        "y": 2300,
        "wires": [
            [
                "5a19a5c3e94b43d0"
            ]
        ]
    },
    {
        "id": "5a19a5c3e94b43d0",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send Get IMU Option",
        "func": "let option = String(msg.payload);\nlet command = String(\"GET,IMU,\" + option + \",NONE\\n\");\n\nflow.set(\"imuGet\", command);\nmsg.payload = command;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 2300,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "a2693ad274244fd6",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "extract ADCS Summary",
        "func": "function item(label, value, time) {\n    return {\n        label: label || \"\",\n        value: value || \"\",\n        time: time || \"\"\n    };\n}\n\nmsg.payload = {\n    maxAgeMs: msg.payload.freshnessThresholdMs || 30000,\n    statusItems: [\n        item(msg.payload.adcsEnableLabel, msg.payload.adcsEnable, msg.payload.adcsEnableTime),\n        item(msg.payload.adcsAvailableLabel, msg.payload.adcsAvailable, msg.payload.adcsAvailableTime),\n        item(msg.payload.adcsTelemetryLabel, msg.payload.adcsTelemetry, msg.payload.adcsTelemetryTime)\n    ],\n    metricRows: [\n        [\n            item(msg.payload.adcsRollDegLabel, msg.payload.adcsRollDeg, msg.payload.adcsRollDegTime),\n            item(msg.payload.adcsPitchDegLabel, msg.payload.adcsPitchDeg, msg.payload.adcsPitchDegTime),\n            item(msg.payload.adcsYawRateDpsLabel, msg.payload.adcsYawRateDps, msg.payload.adcsYawRateDpsTime)\n        ]\n    ]\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 860,
        "wires": [
            [
                "764e08cfb45f43ec"
            ]
        ]
    },
    {
        "id": "764e08cfb45f43ec",
        "type": "ui-template",
        "z": "3b521b08f4388c2f",
        "group": "f4d4cb7be84240a9",
        "page": "",
        "ui": "",
        "name": "ADCS Summary",
        "order": 1,
        "width": "6",
        "height": 3,
        "head": "",
        "format": "<template>\n  <div class=\"summary-card\">\n    <div class=\"summary-grid summary-grid-status-3\">\n      <div v-for=\"item in statusItems\" :key=\"item.label\" class=\"summary-item freshness-widget\">\n        <div class=\"freshness-label\">{{ item.label }}</div>\n        <div class=\"freshness-value\" :class=\"valueClass(item)\">{{ item.value || ' ' }}</div>\n      </div>\n    </div>\n    <div v-for=\"(row, index) in metricRows\" :key=\"index\" class=\"summary-grid\" style=\"grid-template-columns: repeat(3, minmax(0, 1fr));\">\n      <div v-for=\"item in row\" :key=\"item.label\" class=\"summary-item freshness-widget\">\n        <div class=\"freshness-label\">{{ item.label }}</div>\n        <div class=\"freshness-value\" :class=\"valueClass(item)\">{{ item.value || ' ' }}</div>\n      </div>\n    </div>\n  </div>\n</template>\n\n<script>\nexport default {\n  data() {\n    return {\n      nowMs: Date.now(),\n      timerId: null\n    };\n  },\n  computed: {\n    payloadData() {\n      return this.msg && this.msg.payload ? this.msg.payload : {};\n    },\n    maxAgeMs() {\n      return this.payloadData.maxAgeMs || 30000;\n    },\n    statusItems() {\n      return this.payloadData.statusItems || [];\n    },\n    metricRows() {\n      return this.payloadData.metricRows || [];\n    }\n  },\n  methods: {\n    receivedMs(item) {\n      if (!item || !item.time) {\n        return null;\n      }\n\n      const parsed = Date.parse(item.time);\n      return Number.isNaN(parsed) ? null : parsed;\n    },\n    isFresh(item) {\n      if (!item || !item.value) {\n        return false;\n      }\n\n      const receivedMs = this.receivedMs(item);\n      if (receivedMs === null) {\n        return false;\n      }\n\n      return (this.nowMs - receivedMs) <= this.maxAgeMs;\n    },\n    valueClass(item) {\n      if (!item || !item.value) {\n        return 'freshness-empty';\n      }\n\n      return this.isFresh(item) ? 'freshness-fresh' : 'freshness-stale';\n    }\n  },\n  mounted() {\n    this.timerId = setInterval(() => {\n      this.nowMs = Date.now();\n    }, 1000);\n  },\n  unmounted() {\n    if (this.timerId) {\n      clearInterval(this.timerId);\n    }\n  }\n};\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1350,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "008fafad6a774b61",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send Get ADCS",
        "func": "msg.payload = \"GET,ADCS,NONE,NONE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 2380,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "f45c934350984baf",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "f4d4cb7be84240a9",
        "name": "Poll ADCS",
        "label": "Poll",
        "order": 2,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "purple",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 170,
        "y": 2380,
        "wires": [
            [
                "008fafad6a774b61"
            ]
        ]
    },
    {
        "id": "3a50d0edfe9c4dd5",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send ADCS Enable",
        "func": "msg.payload = \"SET,ADCS,ENABLE,TRUE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 2420,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "c304c00883864ad1",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "f4d4cb7be84240a9",
        "name": "",
        "label": "Enable",
        "order": 3,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "#2e7d32",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 190,
        "y": 2420,
        "wires": [
            [
                "3a50d0edfe9c4dd5"
            ]
        ]
    },
    {
        "id": "d6993bf811af44da",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send ADCS Disable",
        "func": "msg.payload = \"SET,ADCS,ENABLE,FALSE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 2460,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "c37d26f2d36e40ae",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "f4d4cb7be84240a9",
        "name": "",
        "label": "Disable",
        "order": 4,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "#c62828",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 180,
        "y": 2460,
        "wires": [
            [
                "d6993bf811af44da"
            ]
        ]
    },
    {
        "id": "cf0685f7e79d4354",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send ADCS TLM Enable",
        "func": "msg.payload = \"SET,ADCS,TELEMETRY,ENABLE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 2500,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "f4c573b324ca45c9",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "f4d4cb7be84240a9",
        "name": "",
        "label": "TLM On",
        "order": 5,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "#66bb6a",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 180,
        "y": 2500,
        "wires": [
            [
                "cf0685f7e79d4354"
            ]
        ]
    },
    {
        "id": "cfb7bf4f4cd84ca5",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send ADCS TLM Disable",
        "func": "msg.payload = \"SET,ADCS,TELEMETRY,DISABLE\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 2540,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    },
    {
        "id": "4476b0d3270b49f3",
        "type": "ui-button",
        "z": "3b521b08f4388c2f",
        "group": "f4d4cb7be84240a9",
        "name": "",
        "label": "TLM Off",
        "order": 6,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "#ef5350",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 180,
        "y": 2540,
        "wires": [
            [
                "cfb7bf4f4cd84ca5"
            ]
        ]
    },
    {
        "id": "31f30df6313e4c34",
        "type": "ui-dropdown",
        "z": "3b521b08f4388c2f",
        "group": "f4d4cb7be84240a9",
        "name": "ADCS Get Option",
        "label": "GET ADCS Parameter",
        "tooltip": "",
        "order": 7,
        "width": "6",
        "height": "1",
        "passthru": false,
        "multiple": false,
        "chips": false,
        "clearable": false,
        "options": [
            {
                "label": "Enable",
                "value": "ENABLE",
                "type": "str"
            },
            {
                "label": "Available",
                "value": "AVAILABLE",
                "type": "str"
            },
            {
                "label": "Roll",
                "value": "ROLL_DEG",
                "type": "str"
            },
            {
                "label": "Pitch",
                "value": "PITCH_DEG",
                "type": "str"
            },
            {
                "label": "Yaw Rate",
                "value": "YAW_RATE_DPS",
                "type": "str"
            },
            {
                "label": "Telemetry",
                "value": "TELEMETRY",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": true,
        "msgTrigger": "onChange",
        "x": 180,
        "y": 2580,
        "wires": [
            [
                "591e7e5cedde4937"
            ]
        ]
    },
    {
        "id": "591e7e5cedde4937",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "send Get ADCS Option",
        "func": "let option = String(msg.payload);\nlet command = String(\"GET,ADCS,\" + option + \",NONE\\n\");\n\nflow.set(\"adcsGet\", command);\nmsg.payload = command;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 2580,
        "wires": [
            [
                "a407349444f312cf"
            ]
        ]
    }
]
