ground-station-dashboard/flows/main.json
[
    {
        "id": "3b521b08f4388c2f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7180565ad450ba58",
        "type": "serial-port",
        "name": "usbmodem2101",
        "serialport": "/dev/tty.usbmodem2101",
        "serialbaud": "115200",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "8037b6b5da1c3e49",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-serialport": "2.0.3",
            "@flowfuse/node-red-dashboard": "1.30.2"
        }
    },
    {
        "id": "5124fb12bde93c6f",
        "type": "serial in",
        "z": "3b521b08f4388c2f",
        "name": "",
        "serial": "7180565ad450ba58",
        "x": 100,
        "y": 40,
        "wires": [
            [
                "e80ca2965e7ce828"
            ]
        ]
    },
    {
        "id": "a407349444f312cf",
        "type": "serial out",
        "z": "3b521b08f4388c2f",
        "name": "",
        "serial": "7180565ad450ba58",
        "x": 1300,
        "y": 120,
        "wires": []
    },
    {
        "id": "e80ca2965e7ce828",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "Main Parser",
        "func": "let line = String(msg.payload).trim();\nif (!line) return null;\n\nlet parts = line.split(\",\");\n\nif (parts.length < 2) return null;\n\nmsg.raw = line;\nmsg.time = parts[0];      // keep as text\nmsg.type = parts[1];\n\nif (msg.type === \"TLM\" && parts.length >= 5) {\n    msg.target = parts[2];\n    msg.parameter = parts[3];\n    msg.value = parts[4];\n}\nelse if (msg.type === \"ACK\" && parts.length >= 4) {\n    msg.target = parts[2];\n    msg.value = parts[3];\n}\nelse if (msg.type === \"ERR\" && parts.length >= 3) {\n    msg.error = parts[2];\n\n    if (parts.length >= 4) {\n        msg.errorContext = parts[3];\n        try {\n            msg.errorContextDecoded = decodeURIComponent(parts[3]);\n        } catch (err) {\n            msg.errorContextDecoded = parts[3];\n        }\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 40,
        "wires": [
            [
                "50ef76a53201094c",
                "a1ea5ba4421bd12a",
                "ef27dc9f7bf52f97",
                "1548f4b860c06079"
            ]
        ]
    },
    {
        "id": "50ef76a53201094c",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "TLM Storage",
        "func": "let state = flow.get(\"satState\") || {};\nconst receivedAtMs = Date.now();\n\nif (!state.tlm) {\n    state.tlm = {};\n}\nif (!state.lastAck) {\n    state.lastAck = null;\n}\nif (!state.lastErr) {\n    state.lastErr = null;\n}\nif (!state.time) {\n    state.time = null;\n}\n\nif (msg.time) {\n    state.time = msg.time;\n}\n\nif (msg.type === \"TLM\") {\n    if (!msg.target || !msg.parameter) {\n        return null;\n    }\n\n    if (!state.tlm[msg.target]) {\n        state.tlm[msg.target] = {};\n    }\n\n    state.tlm[msg.target][msg.parameter] = {\n        value: msg.value,\n        time: msg.time,\n        receivedAtMs\n    };\n}\nelse if (msg.type === \"ACK\") {\n    state.lastAck = {\n        target: msg.target || null,\n        value: msg.value || null,\n        time: msg.time || null,\n        receivedAtMs\n    };\n}\nelse if (msg.type === \"ERR\") {\n    state.lastErr = {\n        error: msg.error || null,\n        context: msg.errorContext || null,\n        contextDecoded: msg.errorContextDecoded || null,\n        time: msg.time || null,\n        receivedAtMs\n    };\n}\n\nflow.set(\"satState\", state);\n\nmsg.state = state;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 160,
        "wires": [
            [
                "af2be4cc68f6c30d"
            ]
        ]
    },
    {
        "id": "af2be4cc68f6c30d",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "Flatten State",
        "func": "let state = msg.state || flow.get(\"satState\") || {};\nconst freshnessThresholdMs = 10000;\n\nmsg.payload = {\n    time: state.time || \"\",\n    freshnessThresholdMs,\n    lastAck: state.lastAck || null,\n    lastErr: state.lastErr || null,\n    tlm: state.tlm || {},\n    ackLog: (flow.get(\"ackLog\") || []).slice(0, 12),\n    errorLog: (flow.get(\"errorLog\") || []).slice(0, 12),\n    packetLog: (flow.get(\"packetLog\") || []).slice(0, 58)\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 160,
        "wires": [
            [
                "3f64f4d9c6b140f1"
            ]
        ]
    },
    {
        "id": "a1ea5ba4421bd12a",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "Packet Log",
        "func": "let packetLog = flow.get(\"packetLog\") || [];\n\npacketLog.unshift({\n    time: msg.time || \"\",\n    receivedAtMs: Date.now(),\n    packetType: msg.type || \"\",\n    target: msg.target || \"\",\n    parameter: msg.parameter || \"\",\n    value: msg.value || msg.error || \"\",\n    raw: msg.raw || \"\"\n});\n\npacketLog = packetLog.slice(0, 58);\nflow.set(\"packetLog\", packetLog);\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "ef27dc9f7bf52f97",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "Error Log",
        "func": "if (msg.type !== \"ERR\") {\n    return null;\n}\n\nlet errorLog = flow.get(\"errorLog\") || [];\n\nerrorLog.unshift({\n    raw: msg.raw || \"\"\n});\n\nerrorLog = errorLog.slice(0, 12);\nflow.set(\"errorLog\", errorLog);\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "1548f4b860c06079",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "ACK Log",
        "func": "if (msg.type !== \"ACK\") {\n    return null;\n}\n\nlet ackLog = flow.get(\"ackLog\") || [];\n\nackLog.unshift({\n    raw: msg.raw || \"\"\n});\n\nackLog = ackLog.slice(0, 12);\nflow.set(\"ackLog\", ackLog);\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "3f64f4d9c6b140f1",
        "type": "uibuilder",
        "z": "3b521b08f4388c2f",
        "name": "dashboard-v3",
        "topic": "",
        "url": "dashboard-v3",
        "okToGo": true,
        "fwdInMessages": false,
        "allowScripts": false,
        "allowStyles": false,
        "copyIndex": false,
        "templateFolder": "blank",
        "extTemplate": "",
        "showfolder": false,
        "reload": true,
        "sourceFolder": "src",
        "deployedVersion": "7.5.0",
        "showMsgUib": true,
        "title": "Mission Control V3",
        "descr": "MySat bespoke mission-control UI powered by uibuilder",
        "editurl": "vscode://file/uibuilder/dashboard-v3/src/?windowId=_blank",
        "x": 1030,
        "y": 160,
        "wires": [
            [
                "a407349444f312cf"
            ],
            [
                "93464f2bde364fca"
            ]
        ]
    },
    {
        "id": "93464f2bde364fca",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "V3 Control Router",
        "func": "const isClientConnect = msg.uibuilderCtrl === \"client connect\";\nconst isStateSyncRequest = msg.topic === \"state-sync-request\";\nconst isLogClearRequest = msg.topic === \"log-clear-request\";\n\nif (!isClientConnect && !isStateSyncRequest && !isLogClearRequest) {\n    return null;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 200,
        "wires": [
            [
                "8799877d11511c60"
            ]
        ]
    },
    {
        "id": "8799877d11511c60",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "V3 Clear Logs",
        "func": "if (msg.topic !== \"log-clear-request\") {\n    return msg;\n}\n\nconst logName = String((msg.payload && msg.payload.log) || \"\");\n\nif (logName === \"ack\") {\n    flow.set(\"ackLog\", []);\n}\nelse if (logName === \"error\") {\n    flow.set(\"errorLog\", []);\n}\nelse if (logName === \"packet\") {\n    flow.set(\"packetLog\", []);\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 260,
        "wires": [
            [
                "5d4a978c35f7472a"
            ]
        ]
    },
    {
        "id": "5d4a978c35f7472a",
        "type": "function",
        "z": "3b521b08f4388c2f",
        "name": "V3 Sync State",
        "func": "let state = flow.get(\"satState\") || {};\nconst freshnessThresholdMs = 10000;\n\nmsg.topic = \"state-sync\";\nmsg.payload = {\n    time: state.time || \"\",\n    freshnessThresholdMs,\n    lastAck: state.lastAck || null,\n    lastErr: state.lastErr || null,\n    tlm: state.tlm || {},\n    ackLog: (flow.get(\"ackLog\") || []).slice(0, 12),\n    errorLog: (flow.get(\"errorLog\") || []).slice(0, 12),\n    packetLog: (flow.get(\"packetLog\") || []).slice(0, 58)\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 320,
        "wires": [
            [
                "3f64f4d9c6b140f1"
            ]
        ]
    }
]
